 {% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %} Data Management {% endblock %}

{% block style_code %}
<link href="{% static 'css/jquery.fileupload.css' %}" rel="stylesheet" />
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Upload</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<h1 class="page-header">Upload <small>Upload Naweza EMR Data</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin Search Row -->
<div class="row">

    <!-- begin col-md-12 -->
    <div class="col-md-12">

        <!-- begin panel panel-inverse -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                          
                <h4 class="panel-title"><b>Upload Form</b></h4>
            </div>
            <!-- begin panel-body #1 -->
            <div class="panel-body">
                <form class="form-inline" action="." method="POST" data-parsley-validate="true">
                    {% csrf_token %}
                    <span>
                    <h6>This tool helps you upload your data by to Google Cloud.</h6>
                    
                    <br>
                    
                    <button type="submit" class="btn btn-sm btn-primary m-r-5">
                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<b>Upload</b>
                    </button>
                </form>
            </div>
            <!-- end panel-body #1-->
    </div> 
    <!-- end panel panel-inverse -->
    </div> 
    <!-- begin col-md-12 -->
</div>
<!-- end Search Row -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}


{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/jquery.fileupload-process.js' %}"></script>

{% endblock %}
