{% extends 'base.html' %}
{% block page_title %} {{block.super}} Archives {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block extra_styling%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock extra_styling%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>Archives</b></li>
</ol>

<h4><i class="icon-user"></i> ARCHIVES </h4>
<p>Use this module to view archived forms</p>
<br>

<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Person</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'archives' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}
    <div class="panel-body">
        <div class="table-responsive">
            <!--<table id="data-table" class="table table-striped table-bordered">-->
            <table id="data-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th> 
                            <th>Visit Date</th> 
                            <th>Visit Type</th>                      
                            <th width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in resultsets %}
                        {% for res in result %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ result.person.fname }}</td>
                                <td>{{ result.person.lname }}</td>
                                <td>
                                    {% if result.person.sex_id|gen_value:vals %}
                                        {{ result.person.sex_id|gen_value:vals }}
                                    {% else %} 
                                        {% if result.person.sex == "F" %}
                                            Female
                                        {% else %}
                                            Male
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ res.visit_date }}</td>
                                <td>{{ res.visit_type_id }}</td>
                                <td>
                                <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                <b>View</b>&nbsp;&nbsp;<i class="fa fa-binoculars"></i></a>

                                <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                <b>Edit</b>&nbsp;&nbsp;<i class="fa fa-edit"></i></a>

                                <a href="#" class="btn  btn-sm btn-danger m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                <b>Delete</b>&nbsp;&nbsp;<i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}                    
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% else %}
        <div class="norecords" align="center">No records found.</div>
    {% endif %}
</div>

{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
<script>
    $(document).ready(function() 
    {
        $('#data-table').bootstrapTable(
        { 
            toggle: 'table', 
            search: 'true',
            locale: 'en-US',
            pagination: 'true',
            pageNumber: 1,
            pageSize: 10,
            // showRefresh: true,
            showToggle: true,
            //showColumns: true,
            singleSelect: true,
            clickToSelect:true,
            maintainSelected: true
        });
    });
</script>
<script src="{% static 'js/apps.js' %}"></script>
{% endblock lazy_javascript_code%}