{% extends 'base.html' %}
{% block page_title %} {{block.super}} Clinic Form {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block extra_styling%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock extra_styling%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<h1 class="page-header">Clinic Form</h1>

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger m-b-0">
                    <h4><i class="fa fa-info-circle"></i> Message </h4>
                    <span id="dialog_text"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal"" class="btn btn-sm btn-white">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end modal-dialog -->

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Person</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'clinic_form' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </button>
                        <a href="{% url 'new_person' %}" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Register New Person</b>
                        </a>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}
    <div class="panel-body">
        <div class="table-responsive">
            <!--<table id="data-table" class="table table-striped table-bordered">-->
            <table id="data-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Sex</th>
                            <th>Clinic Attached</th>                        
                            <th width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in resultsets %}
                        <tr>
                            <td>{{ result.first_name }}</td>
                            <td>{{ result.surname }}</td>
                            <td>{{ result.sex_id|gen_value:vals }}</td>
                            <td>
                            {% if result.org_unit.org_unit_name %}
                                {{ result.org_unit.org_unit_name  }}
                            {% else %}
                                NONE
                            {% endif %}
                            </td>
                         
                            <td>
                                <button id="btn-view-details-{{ result.person }}" onClick="open_form('{{ result.person }}')" class="btn  btn-sm btn-primary m-r-5">
                                    <b>Fill Clinic Form </b>&nbsp;&nbsp;<i class="fa fa-file"></i>
                                </button>
                            </td>
                        </tr>                              
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% else %}
        <div class="norecords" align="center">No records found.</div>
    {% endif %}
</div>

{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
<script>
$(document).ready(function() 
{
    $('#data-table').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true
    });
});
</script>
<script src="{% static 'js/apps.js' %}"></script>
<script>
function open_form(uuid)
{
    console.log('uuid=' + uuid)
    // redirect to new_clinic_form 
    return window.location.href='{% url 'new_clinic_form' uuid=0 %}'.replace("0", uuid);
}
</script>
{% endblock lazy_javascript_code%}