{% extends 'base.html' %}
{% block page_title %} {{block.super}} Persons {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block extra_styling%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock extra_styling%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>View Visits</b></li>
</ol>

<h4><i class="icon-user"></i> PERSONS VISITS</h4>
<p>Use this module to view visits for an existing person</p>
<br>


<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger m-b-0">
                    <h4><i class="fa fa-info-circle"></i> Message </h4>
                    <span id="dialog_text"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal"" class="btn btn-sm btn-white">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end modal-dialog -->

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    
                    <h4 class="m-t-10"><i class="fa fa-user"></i><font color="blue">&nbsp;&nbsp; {{init_data.fname}} {{init_data.lname}}</font></h4>

                </div>
                <div class="panel-body">
                    {% if resultsets %}
                    <div class="panel-body">
                        <div class="table-responsive">
                            <!--<table id="data-table" class="table table-striped table-bordered">-->
                            <table id="data-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Gender</th> 
                                            <th>Visit Date</th> 
                                            <th>Visit Type</th>                      
                                            <th width="20%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in resultsets %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ result.data.fname }}</td>
                                        <td>{{ result.data.lname }}</td>
                                        <td>
                                            {% if result.data.sex_id|gen_value:vals %}
                                                {{ result.data.sex_id|gen_value:vals }}
                                            {% else %} 
                                                {% if result.data.sex == "F" %}
                                                    Female
                                                {% else %}
                                                    Male
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{ result.visit_date }}</td>
                                        <td>{{ result.visit_type_id }}</td>
                                        <td>
                                        <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                        <b>View</b>&nbsp;&nbsp;<i class="fa fa-binoculars"></i></a>

                                        <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                        <b>Edit</b>&nbsp;&nbsp;<i class="fa fa-edit"></i></a>

                                        <a href="#" class="btn  btn-sm btn-danger m-r-5" data-toggle="modal" onClick="window.location.href='#">
                                        <b>Delete</b>&nbsp;&nbsp;<i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    {% else %}
                        <div class="norecords" align="center">No records found.</div>
                    {% endif %}      
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
<script>
    $(document).ready(function() 
    {
        $('#data-table').bootstrapTable(
        { 
            toggle: 'table', 
            search: 'true',
            locale: 'en-US',
            pagination: 'true',
            pageNumber: 1,
            pageSize: 10,
            // showRefresh: true,
            showToggle: true,
            //showColumns: true,
            singleSelect: true,
            clickToSelect:true,
            maintainSelected: true
        });
    });
</script>
<script src="{% static 'js/apps.js' %}"></script>
{% endblock lazy_javascript_code%}