{% extends 'base.html' %}

{% load app_filters %}

{% load staticfiles %}

{% block page_title %} Forms Registry {% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
.divider{
    margin-left: 2px;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin page-header -->
<h1 class="page-header">Forms Registry <small>Search Forms</small></h1>
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Form</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'forms_registry' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group m-r-10">
                            {{ form.form_type }}
                        </div>
                        <div class="form-group m-r-10">
                            {{ form.search_name }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp; <b>Search</b></button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

        {% if resultsets|length %}
        <div class="panel-body">
            <div class="table-responsive">
                <table id="form-data-table" class="table table-striped table-bordered">
                    <col style="width:2%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:10%">
                    <col style="width:20%">
                    <col style="width:20%">
                    <col style="width:20%">

                    <thead>
                        <tr>
                            <th></th>
                            <th>Firstname</th>
                            <th>Surname</th>
                            <th>Sex</th>
                            <th>Visit Date</th> 
                            <th>Diagnosis</th>                                
                            <th>Investigations</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in resultsets %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.first_name }}</td>
                        <td>{{ result.surname }}</td>
                        <td>{{ result.sex_id|gen_value:vals }}</td>
                        <td>{{ result.visit_date }}</td>
                        <td>{{ result.diagnosis }}</td>
                        <td>{{ result.investigations }}</td>
                        <td>
                            <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='{% url 'view_clinic_form' uuid=result.visit %}'">
                            <b>View</b>&nbsp;&nbsp;<i class="fa fa-binoculars"></i></a>

                            <a href="#" class="btn  btn-sm btn-primary m-r-5" data-toggle="modal" onClick="window.location.href='{% url 'edit_clinic_form' uuid=result.visit %}'">
                            <b>Edit</b>&nbsp;&nbsp;<i class="fa fa-edit"></i></a>
                            
                           <a href="#" class="btn  btn-sm btn-danger m-r-5" data-toggle="modal" onClick="window.location.href='{% url 'delete_clinic_form' uuid=result.visit %}'">
                            <b>Delete</b>&nbsp;&nbsp;<i class="fa fa-trash"></i></a>
                       </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <div class="norecords" align="center"><b>No records found.</b></div>
        {% endif %}  
</div>


{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="/static/plugins/parsley/dist/parsley.js"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() 
{    
    $('#form-data-table').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,
        
        onClickRow: function (row, $element)
        {
            person_id = row[3];
            pfirst_name = row[2];
            psurname = row[3];
            localStorage.setItem("pfirst_name",pfirst_name);
            localStorage.setItem("psurname",psurname);
            localStorage.setItem("person_id",person_id);
        }        
    });

    /*
     Hide Person ID Column in the Registry Grid 
    
    $('#form-data-table td:nth-child(3),th:nth-child(3)').hide();
    */

});
</script>
{% endblock %}

