<!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_new_clinic_form">
                        <ol>
                            <li>
                                Medical History
                                <small>Medical History Details</small>
                            </li>
                            <li>
                                Assessment
                                <small>Assessment Details</small>
                            </li>
                            <li>
                                Medications
                                <small>Medications Details</small>
                            </li>
                            <li>
                                Referrals
                                <small>Referrals Details</small>
                            </li>
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full"> Medical History </legend>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Date of Visit <span class="asteriskField">*</span></b></label>
                                                {{ form.visit_date }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Past history of <span class="asteriskField">*</span></b></label>
                                                {{ form.medical_history }}                                               
                                                <p class="muted"><span id="sel_medical_history"></p>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Symptoms <span class="asteriskField">*</span></b></label>
                                                {{ form.current_symptoms }}                                               
                                                <p class="muted"><span id="sel_current_symptoms"></p>
                                            </div>
                                        </div>                                                               
                                    </div>
                                    <!--
                                    <br>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Tobacco Use </b><i>(answer yes if tobacco use during the last 12 months) </i><span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.tobacco_use }}  
                                                <span id="tobacco_use_error"></span>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Medication <span class="asteriskField">*</span></b></label>
                                                {{ form.current_medication }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Occupation <span class="asteriskField">*</span></b></label>
                                                {{ form.occupation }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Activity Status <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.activity_status }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Engaged in more than 30 minutes of physical activity at least 5 days a week <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.physical_activity }} 
                                                <span id="physical_activity_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Family history of premature heart disease or stroke in first degree relatives <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.family_history }} 
                                                <span id="family_history_error"></span>                                                
                                            </div>                                      
                                        </div>
                                    </div>
                                    
                                    <br>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Alcohal Consumption <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_consumption }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: none;" id="div_amount">
                                            <div>
                                                <label><b>Alcohal Amount <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_amount }}                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: none;" id="div_frequency">
                                            <div>
                                                <label><b>Alcohal Frequency <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_frequency }}                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                -->
                                </div>                                                                   
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">  
                            <fieldset>
                                <legend class="pull-left width-full"> Assessment </legend>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <div>
                                            <label><b>Waist Circumference <span class="asteriskField">*</span></b></label>
                                            {{ form.alcohal_amount }}                                            
                                        </div>
                                    </div>
                                </div>
                            </fieldset>                        
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">                          
                        </div>
                        <!-- end wizard step-3 -->

                        <!-- begin wizard step-4 -->
                        <div class="wizard-step-4">
                             <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary" value="submit" id="submit_followup">Submit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- end wizard step-4 -->
                    </div>


                    <!--
                    <div class="row"> 
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group block1">
                                <label><b>Date of Visit <span class="asteriskField">*</span></b></label>
                                {{ form.visit_date }}
                            </div>
                        </div>                        
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group block1">
                                <label><b>Comments</b></label>
                                {{ form.visit_notes }}
                            </div>
                        </div>
                    </div>
                -->

                </div>