{% extends 'base.html' %}

{% block page_title %} {{block.super}} New Followup {% endblock page_title%}

{% load app_filters %}

{% load staticfiles %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
.td_style {
  color: #0057e7;
}
.drugs{
    width: 400;
    height:400px;
    position: { my: 'top', at: 'top+150' };
    /*-webkit-overflow-scrolling: touch;*/    
}
</style>
{% endblock style_code%}

    
{% block primary %}
<!-- #modal-dialog -->
<div class="modal fade" id="tips-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Patient Management Tips</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" class="table-responsive" style="overflow-y: scroll; height:300px;">
                    <table id="tips_table" class="table table-striped table-bordered">
                        <thead>
                        <tr id="id_inputHeaders">

                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #modal-without-animation -->

<!-- #modal-dialog -->
<div class="modal fade" id="tips-dialog1">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <blockquote>
                <p class="td_style">PATIENT MANAGEMENT TIPS &nbsp;&nbsp; <i class="fa fa-key"></i></p>
            </blockquote>

            

            <div class="modal-footer">
                <div align="right">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" >Close</a>                 
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<!-- #modal-without-animation -->

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>New Follow-up</b></li>
</ol>


<h4 class="m-t-10"><i class="fa fa-user"></i><font color="blue">&nbsp;&nbsp; {{init_data.fname}} {{init_data.lname}}</font></h4>
<br>

<div>
    <div class="btn-group">
        <button class="btn btn-white"><b>Age:</b> <font color="blue"> {{init_data.age }} </font></button>
        <button class="btn btn-white"><b>Sex: </b> <font color="blue">{{init_data.sex }} </font></button>
        <button class="btn btn-white"><b>Smoker: </b> <font color="blue">{{init_data.smoker }} </font></button>
        <button class="btn btn-white"><b>Diabetes: </b> <font color="blue">{{init_data.diabetes }} </font></button>
        <button class="btn btn-white"><b>SBP: </b> <font color="blue">{{init_data.sbp }} </font></button>
        <button class="btn btn-white"><b>Glucose: </b> <font color="blue">{{init_data.glucose }} </font></button>
        <button class="btn btn-white"><b>Phone: </b> <font color="blue">{{init_data.phone_no }}</font></button>
        <button class="btn btn-white"><b>Color: </b> <font color="blue">{{init_data.color }} </font></button>
        {% if init_data.color == "GREEN" %}
        <button class="btn btn-default" style="background-color: #008744;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "RED" %}
        <button class="btn btn-white" style="background-color: #d62d20;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "CRIMSON" %}
        <button class="btn btn-white" style="background-color: #dc143c;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "ORANGE" %}
        <button class="btn btn-white" style="background-color: #ffa500;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "YELLOW" %}
        <button class="btn btn-white" style="background-color: #ffff00;"> &nbsp;</button>                               
        {% endif %} 
        <span>&nbsp;</span>
    </div>
</div>

<br>
<div>
    <button class="btn btn-warning" onClick="getTips()" ><i class="fa fa-comment"></i> Smart Tips!</button>
</div>

<br>


<!-- end breadcrumb -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>

<!-- begin panel -->
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>                      
        <h4 class="panel-title"> <b>FOLLOW-UP FORM</b>&nbsp;&nbsp;<i class="fa fa-paw"></i></h4>
    </div>

    <!-- begin panel-body -->
    <div class="panel-body">
        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="new_clinic_form">
            
            {% csrf_token %}

            {{ form.person_age }}

            {{ form.glucose_level }}

            {{ form.visit_num }}


            <!-- begin row -->
            <div class="row">

                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_new_clinic_form">
                        <ol>
                            <li>
                                History
                                <small>Patient History Details</small>
                            </li>
                            <li>
                                Assessment
                                <small>Physical Assessment Details</small>
                            </li>
                            <li>
                                Medications
                                <small>Prescription Details</small>
                            </li>
                            <li>
                                Referrals
                                <small>Referrals Details</small>
                            </li>
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full"> Patient History </legend>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Date of Visit <span class="asteriskField">*</span></b></label>
                                                {{ form.visit_date }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Past history of <span class="asteriskField">*</span></b></label>
                                                {{ form.past_history }}                                               
                                                <p class="muted"><span id="sel_past_history"></p>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Symptoms <span class="asteriskField">*</span></b></label>
                                                {{ form.current_symptoms }}                                               
                                                <p class="muted"><span id="sel_current_symptoms"></p>
                                            </div>
                                        </div>                                                               
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Tobacco Use </b><i>(answer yes if tobacco use during the last 12 months) </i><span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.tobacco_use }}  
                                                <span id="tobacco_use_error"></span>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Engaged in more than 30 minutes of physical activity at least 5 days a week <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.physical_activity }} 
                                                <span id="physical_activity_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Family history of premature heart disease or stroke in first degree relatives <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.family_history }} 
                                                <span id="family_history_error"></span>                                                
                                            </div>                                      
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <!--
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Activity Status <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.activity_status }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>-->
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Occupation <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.activity_status }} 
                                                <span id="activity_status_error"></span>                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Describe Occupation <span class="asteriskField">*</span></b></label>
                                                {{ form.occupation }}                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Medication <span class="asteriskField">*</span></b></label>
                                                {{ form.current_medication }}                                            
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Alcohal Consumption <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_consumption }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: none;" id="div_frequency">
                                            <div>
                                                <label><b>How many days do you take alcohol in a week? <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_frequency }}                                                
                                            </div>
                                        </div> 
                                        <div class="col-md-4" style="display: none;" id="div_amount">
                                            <div>
                                                <label><b>How many drinks per day on average?<span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_amount }}                                            
                                            </div>
                                        </div>                                       
                                    </div>                                       
                                </div>                                                             
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full"> Assessment </legend>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Waist Circumference <span class="asteriskField">*</span></b></label>
                                                {{ form.waist_circumference }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Systolic Blood Pressure <span class="asteriskField">*</span></b></label>
                                                {{ form.sbp }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Diastollic Blood Pressure <span class="asteriskField">*</span></b></label>
                                                {{ form.dbp }}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Pitting Oedema <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.oedema }}
                                                <span id="oedema_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Palpate Apex Beat</b> <i>(Heaving)</i> <span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.heaving }}
                                                <span id="heaving_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Palpate Apex Beat</b> <i>(Displacement)</i> <span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.displacement }}
                                                <span id="displacement_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Ausculate heart </b> <i>(rhythm and murmurs)</i> <span class="asteriskField"><b>*</b></span></b></label>
                                                <br>
                                                {{ form.ausculate_heart }}
                                                <span id="ausculate_heart_error"></span>
                                                <div id="div_ausculate_heart_describe" style="display: none;">
                                                    <br>
                                                    {{ form.ausculate_heart_describe }}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Ausculate lungs </b> <i>(bilateral basal crepitations)</i> <span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.ausculate_lungs }}
                                                <span id="ausculate_lungs_error"></span>
                                                <div id="div_ausculate_lungs_describe" style="display: none;">
                                                    <br>
                                                    {{ form.ausculate_lungs_describe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Abdomen Exam </b> <i>(tender liver) </i><span class="asteriskField"><b>*</b></span></b></label>
                                                <br>
                                                {{ form.abdomen_exam }}
                                                <span id="abdomen_exam_error"></span>
                                                <div id="div_abdomen_exam_describe" style="display: none;">
                                                    <br>
                                                    {{ form.abdomen_exam_describe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>DM Exam </b><i>(examine feet; sensations, pulses, and ulcers) </i><span class="asteriskField"><b>*</b></span></b></label>
                                                    <br>
                                                    {{ form.dm_exam }}
                                                    <span id="dm_exam_error"></span>
                                                    <div id="div_dm_exam_describe" style="display: none;">
                                                        <br>
                                                        {{ form.dm_exam_describe }}
                                                    </div>
                                                </div>
                                            </div>                                            

                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>Blood Sugar Type <span class="asteriskField">*</span></b></label>
                                                    <br>
                                                    {{ form.blood_sugar_type }}
                                                    <span id="blood_sugar_type_error"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>Blood Sugar Level</b></label>
                                                    <br>
                                                    {{ form.blood_sugar }}
                                                </div>
                                            </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Urine Ketones</b></label>
                                                <br>
                                                {{ form.urine_ketones }}
                                            </div>
                                            
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Urine Proteins</b></label>
                                                <br>
                                                {{ form.urine_protein }}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Cholesterol</b></label>
                                                <br>
                                                {{ form.cholesterol }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Cardiovascular Risk <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.risk_level }}
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                        
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full"> Medication </legend>
                                <div class="panel-body"> 
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group block1">                                            
                                                {{ form.chk_prescription }} <label for="chk_medication">&nbsp; <h6>Precribe drugs for this patient</h6></label>
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="row" id="div_prescription" style="display: none;">
                                        <br>
                                        <div class="col-md-6">
                                            <label><b>Prescription </b></label>
                                            {{ form.prescription }}
                                            <br>
                                        </div>
                                    </div>                                    
                                </div>                                                              
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->

                        <!-- begin wizard step-4 -->
                        <div class="wizard-step-4">
                            <fieldset>
                                <legend class="pull-left width-full"> Referrals </legend>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group block1">                                            
                                                {{ form.chk_referral }} <label for="chk_medication">&nbsp; <h6>Refer this patient</h6></label>
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="row" id="div_referral" style="display: none;">
                                        <br>
                                        <div class="col-md-6">
                                            <label><b>Referral Reason</b></label>
                                            {{ form.referral_reason }}
                                            <br>
                                            <p class="muted"><span id="sel_referral_reason"></p>
                                        </div>
                                    </div>                                                    
                                </div>                                                             
                            </fieldset>
                        </div>
                        <!-- end wizard step-4 -->
                    </div>
                </div>
                <!-- end col-12 -->

               

            </div>
            <!-- end row -->

            <!-- begin row -->
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" value="submit" id="submit_followup"><b>Submit</b></button>
                    <button type="button" class="btn btn-default"><b>Quit</b></button>
                </div> 
            </div>
            <!-- end row -->
        </form>
    </div>        
</div>
<!-- end panel -->



{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script>
jQuery(document).ready(function() {

    //multi selects
    $('#past_history, #current_symptoms, #referral_reason').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white',
        nonSelectedText: 'Please Select'
    });
    $('html,body').scrollTop(0);  

    FormWizardValidation.init();
});
</script>


<script type="text/javascript">
function getTips()
{
    var age = $('#person_age').val();
    var visit_num = $('#visit_num').val();
    var past_history = $('#past_history').val();
    var current_symptoms = $('#current_symptoms').val();
    var tobacco_use  = $('input[name=tobacco_use]:checked').val();
    var physical_activity  = $('input[name=physical_activity]:checked').val();
    var family_history  = $('input[name=family_history]:checked').val();
    var occupation  = $('input[name=occupation]:checked').val();
    var alcohal_consumption  = $('input[name=alcohal_consumption]:checked').val();
    var sbp  = $('#sbp').val();
    var dbp  = $('#dbp').val();
    var oedema  = $('input[name=oedema]:checked').val();
    var heaving  = $('input[name=heaving]:checked').val();
    var displacement  = $('input[name=displacement]:checked').val();
    var ausculate_heart  = $('input[name=ausculate_heart]:checked').val();
    var ausculate_lungs  = $('input[name=ausculate_lungs]:checked').val();
    var blood_sugar  = $('input[name=blood_sugar]:checked').val();
    var blood_sugar_type  = $('input[name=blood_sugar_type]:checked').val();
    var dm_exam  = $('input[name=dm_exam]:checked').val();
    var urine_ketones  = $('#urine_ketones').val();
    var urine_protein  = $('#urine_protein').val();
    var cholesterol  = $('#cholesterol').val();

    var values = {
        //'i': i,
        'age': age,
        'visit_num': visit_num,
        'past_history': past_history,
        'current_symptoms': current_symptoms,
        'tobacco_use': tobacco_use,
        'physical_activity': physical_activity,
        'family_history': family_history,
        'occupation': occupation,
        'alcohal_consumption': alcohal_consumption,
        'sbp': sbp,
        'dbp': dbp,
        'oedema': oedema,
        'heaving': heaving,
        'ausculate_heart': ausculate_heart,
        'ausculate_lungs': ausculate_lungs,
        'blood_sugar': blood_sugar,
        'blood_sugar_type': blood_sugar_type,
        'dm_exam': dm_exam,
        'urine_ketones': urine_ketones,
        'urine_protein': urine_protein,
        'cholesterol': cholesterol,
        'csrfmiddlewaretoken':  $.cookie('csrftoken')
    }

    $.ajax({
        type: "POST",
        data: values,
        dataType: "json",
        url: "{% url 'dss' %}",

        success: function(result){ 
            var actions = result.actions;

            // Remove pre-exisiting rows
            $("#tips_table").find("tr:gt(0)").remove();

            // Show Dialog
            $('#tips-dialog').modal('show');

            for(var x in actions){ 
                var index = parseInt(x) + 1; 
                // if(index==0) { index= index + 1}                  
                var table_row = '<tr><td><h5>' + (index) + '. ' + actions[x] + '</h5></td></tr>'; 

                // Append each result to  row
                $('#tips_table > tbody:last-child').append(table_row);                     
            }   


        },
        error: function(xhr, status, error)
        {
            console.log('An error occuredd: - ' + error);
        }
    });

}
function displayVals(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length>0)
       {            
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    // $( "#sel_"+value ).html(selections.join( ", <br>" ) );
    $( "#sel_"+value ).html(selections.join( ", " ) );
}

$('#occupation').tagit(
{
    placeholderText:'Type Ocuupation + ENTER',
    availableTags: ["Farmer", "Teacher", "Business", "Police/Askari", "Unemployed", "No Job"],
    showAutocompleteOnFocus: true
});

$('#current_medication').tagit(
{
    placeholderText:'Type Medicine + ENTER',
    availableTags: ["Nifedipine Retard", "Enalapril", "Hydrochlorothiazide", "Metformin", "SIMVASTATIN", "Atorvastatin"],
    showAutocompleteOnFocus: true
});

$('#prescription').tagit(
{
    placeholderText:'Type Medicine + ENTER',
    availableTags: ["Nifedipine Retard", "Enalapril", "Hydrochlorothiazide", "Metformin", "SIMVASTATIN", "Atorvastatin"],
    showAutocompleteOnFocus: true
});
//$("#current_medication").data("ui-tagit").tagInput.addClass("fancy");

$("#past_history").change(function(event) 
{ 
    displayVals('past_history');    
});

$("#current_symptoms").change(function(event) 
{ 
    displayVals('current_symptoms');
});

$("#referral_reason").change(function(event) 
{ 
    displayVals('referral_reason');
});

$("input[name='alcohal_consumption']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_amount').show();
        $('#div_frequency').show(); 
        $('#alcohal_amount').attr('data-parsley-required', 'true');
        $('#alcohal_frequency').attr('data-parsley-required', 'true');
    }else{
        $('#div_amount').hide();
        $('#div_frequency').hide(); 
        $('#alcohal_amount').attr('data-parsley-required', 'false');
        $('#alcohal_amount').val('');
        $('#alcohal_frequency').attr('data-parsley-required', 'false');
        $('#alcohal_frequency').val('');
    }
});

$("input[name='ausculate_heart']").change(function(){
    if ($(this).val() == "CSAB") {
        $('#div_ausculate_heart_describe').show();
        $('#ausculate_heart_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_ausculate_heart_describe').hide();
        $('#ausculate_heart_describe').attr('data-parsley-required', 'false');
        $('#ausculate_heart_describe').val('');
    }
});

$("input[name='dm_exam']").change(function(){
    if ($(this).val() == "CSAB") {
        console.log($(this).val());
        $('#div_dm_exam_describe').show();
        $('#dm_exam_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_dm_exam_describe').hide();
        $('#dm_exam_describe').attr('data-parsley-required', 'false');
        $('#dm_exam_describe').val('');
    }
});

$("input[name='ausculate_lungs']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_ausculate_lungs_describe').show();
        $('#ausculate_lungs_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_ausculate_lungs_describe').hide();
        $('#ausculate_lungs_describe').attr('data-parsley-required', 'false');
        $('#ausculate_lungs_describe').val('');
    }
});

$("input[name='abdomen_exam']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_abdomen_exam_describe').show();
        $('#abdomen_exam_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_abdomen_exam_describe').hide();
        $('#abdomen_exam_describe').attr('data-parsley-required', 'false');
        $('#abdomen_exam_describe').val('');
    }
});

$("input[name='chk_prescription']").change(function(){
    if($(this).is(":checked")) {
        $('#div_prescription').show();
        $('#prescription').attr('data-parsley-required', 'true');
    }  
    else{
        $('#div_prescription').hide();
        $('#prescription').attr('data-parsley-required', 'false');
        $('#prescription').val('');
    } 
});

$("input[name='chk_referral']").change(function(){
    if($(this).is(":checked")) {
        $('#div_referral').show();
        $('#referral_reason').attr('data-parsley-required', 'true');
    }  
    else{
        $('#div_referral').hide();
        $('#referral_reason').attr('data-parsley-required', 'false');
        $("#referral_reason").multiselect("clearSelection");
        $("#referral_reason").multiselect("refresh");
    } 
});
</script>
{% endblock lazy_javascript_code %}