{% extends 'base.html' %}

{% block page_title %} {{block.super}} New Followup {% endblock page_title%}

{% load app_filters %}

{% load staticfiles %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.gritter.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
.td_style {
  color: #0057e7;
}
.drugs{
    width: 400;
    height:400px;
    position: { my: 'top', at: 'top+150' };
    /*-webkit-overflow-scrolling: touch;*/    
}
</style>
{% endblock style_code%}
    
{% block primary %}

<div class="modal fade" id="tips-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">PRESCRIPTION ADVICE</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" class="table-responsive" style="overflow-y: scroll; height:300px;">
                    <div id="div_suggested_medication" class="note note-inverse">
                        <h4><p class="td_style">MEDICATION TIP(S)  </p></h4>
                        <table id="meds_tips_table" class="table">
                            <thead>
                            <tr>

                            </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div id="div_meds_history" class="note note-inverse">
                        <h4>MEDICATION HISTORY</h4>
                        <table id="meds_history_table" class="table">
                            <thead>
                            <tr>

                            </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal-dialog -->
<div class="modal fade" id="history-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">PATIENT VISIT HISTORY</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" class="table-responsive" style="overflow-x: scroll; height:300px;">

                    
                {% if visits %}
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered dataTable no-footer">                            
                            <thead>                                        
                                <tr>
                                    <th width="15%"><h5>VISIT DATE</h5></th>
                                    <th width="5%"><h5>DBP</h5></th>
                                    <th width="5%"><h5>SBP</h5></th>
                                    <th width="5%"><h5>SMOKING</h5></th>
                                    <th width="5%"><h5>BLOOD SUGAR</h5></th>
                                    <th width="30%"><h5>MEDICATION TYPE(S)</h5></th>
                                    <th width="30%"><h5>DOSAGES</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in visits %}
                                <tr>
                                    <td width="15%"><p class="td_style"><small>{{ v.visit_date }}</small></p></td>
                                    <td width="5%"><p class="td_style"><small>{{ v.patient_obs.dbp }}</small></p></td>
                                    <td width="5%"><p class="td_style"><small>{{ v.patient_obs.sbp }}</small></p></td>
                                    <td width="5%"><p class="td_style"><small>{{ v.patient_obs.tobacco_use }}</small></p></td>
                                    <td width="5%"><p class="td_style"><small>{{ v.patient_obs.blood_sugar }}</small></p></td>
                                    <td width="30%"><p class="td_style"><small>{{ v.medication_type | linebreaksbr  }}</small></p></td>
                                    <td width="30%"><p class="td_style"><small>{{ v.medication_dosage | linebreaksbr }}</small></p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <div class="stats-desc">                    
                        <p>No previous visit history to display</p>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal-dialog -->
<div class="modal fade" id="tips-dialog1">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <blockquote>
                <p class="td_style">PATIENT MANAGEMENT TIPS &nbsp;&nbsp; <i class="fa fa-key"></i></p>
            </blockquote>

            

            <div class="modal-footer">
                <div align="right">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" >Close</a>                 
                </div>
                
                
            </div>
        </div>
    </div>
</div>


<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>New Follow-up</b></li>
</ol>


<button  id="show-history" type="button" class="btn btn-white m-r-5 m-b-5" onClick="showHistory()" data-toggle="tooltip" data-placement="right" title="Click To View Patient Visit History">
  
  <h4 class="m-t-10">
        <i class="fa fa-user"></i><font color="blue">
    &nbsp;&nbsp; {{init_data.fname}} {{init_data.lname}}</font>
    </h4>
</button>
<br>

<div id="ribbonDashboard">
    <div class="btn-group" id="divScreening" style="display: none">
        <button class="btn btn-info"><font color="white">SCREENING OBSERVATIONS</font></button>
        <button class="btn btn-white"><b>Date:</b> <font color="blue"> {{init_data.date_created }} </font></button>
        <button class="btn btn-white"><b>Age:</b> <font color="blue"> {{init_data.age }} </font></button>
        <button class="btn btn-white"><b>Sex: </b> <font color="blue">{{init_data.sex }} </font></button>
        <button class="btn btn-white"><b>Smoker: </b> <font color="blue">{{init_data.smoker }} </font></button>
        <button class="btn btn-white"><b>Diabetes: </b> <font color="blue">{{init_data.diabetes }} </font></button>
        <button class="btn btn-white"><b>SBP: </b> <font color="blue">{{init_data.sbp }} </font></button>
        <button class="btn btn-white"><b>Glucose: </b> <font color="blue">{{init_data.glucose }} </font></button>
        <button class="btn btn-white"><b>Phone: </b> <font color="blue">{{init_data.phone_no }}</font></button>
        <button class="btn btn-white"><b>Color: </b> <font color="blue">{{init_data.color }} </font></button>
        {% if init_data.color == "GREEN" %}
        <button class="btn btn-default" style="background-color: #008744;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "RED" %}
        <button class="btn btn-white" style="background-color: #d62d20;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "CRIMSON" %}
        <button class="btn btn-white" style="background-color: #dc143c;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "ORANGE" %}
        <button class="btn btn-white" style="background-color: #ffa500;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "YELLOW" %}
        <button class="btn btn-white" style="background-color: #ffff00;"> &nbsp;</button>                               
        {% endif %} 
        <span>&nbsp;</span>
    </div>
    <div  class="btn-group" id="divVisits" style="display: none">
        <button class="btn btn-info"><font color="white">LAST VISIT </font></button>
        <button class="btn btn-white"><b>Date:</b> <font color="blue"> {{last_visit_date}} </font></button>
        <button class="btn btn-white"><b>Age:</b> <font color="blue"> {{ age }} </font></button>
        <button class="btn btn-white"><b>Sex: </b> <font color="blue">{{init_data.sex }} </font></button>
        <button class="btn btn-white"><b>Smoker: </b> <font color="blue">{{ smoker }}</font></button>
        <button class="btn btn-white"><b>Diabetes: </b> <font color="blue">{{ diabetes }}</font></button>
        <button class="btn btn-white"><b>SBP: </b> <font color="blue">{{ sbp }}</font></button>
        <button class="btn btn-white"><b>Glucose: </b> <font color="blue">{{ glucose }}</font></button>
        <button class="btn btn-white"><b>Phone: </b> <font color="blue">{{init_data.phone_no }}</font></button>
        <button class="btn btn-white"><b>Color: </b> <font color="blue">{{ color }}</font></button>
        {% if init_data.color == "GREEN" %}
        <button class="btn btn-default" style="background-color: #008744;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "RED" %}
        <button class="btn btn-white" style="background-color: #d62d20;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "CRIMSON" %}
        <button class="btn btn-white" style="background-color: #dc143c;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "ORANGE" %}
        <button class="btn btn-white" style="background-color: #ffa500;"> &nbsp;</button>                               
        {% endif %}
        {% if init_data.color == "YELLOW" %}
        <button class="btn btn-white" style="background-color: #ffff00;"> &nbsp;</button>                               
        {% endif %} 
        <span>&nbsp;</span>
    </div>
</div>

<br>

<!-- end breadcrumb -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>

<br>

<!-- begin panel -->
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>                      
        <h4 class="panel-title"> <b>FOLLOW-UP FORM</b>&nbsp;&nbsp;<i class="fa fa-paw"> | <b> VISIT NO :  {{ cur_visit_no }}</b></i></h4>
    </div>

    <!-- begin panel-body -->
    <div class="panel-body">
        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="new_clinic_form">
            
            {% csrf_token %}

            {{ form.person_age }}

            {{ form.person_sex }}

            {{ form.patient_id }}

            {{ form.glucose_level }}

            {{ form.visit_num }}

            {{ form.color }}

            <!-- begin row -->
            <div class="row">

                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_new_clinic_form">
                        <ol>
                            <li>
                                History
                                <small>Patient History Details</small>
                            </li>
                            <li>
                                Assessment
                                <small>Physical Assessment Details</small>
                            </li>
                            <li>
                                Medications
                                <small>Prescription Details</small>
                            </li>
                            <li>
                                Referrals
                                <small>Referrals Details</small>
                            </li>
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full"> Patient History </legend>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Date of Visit <span class="asteriskField">*</span></b></label>
                                                {{ form.visit_date }}
                                            </div>
                                        </div>
                                        <div id="div_pasthistory" class="col-md-4">
                                            <div>
                                                <label><b>Past history of <span class="asteriskField">*</span></b></label>
                                                {{ form.past_history }}                                               
                                                <p class="muted"><span id="sel_past_history"></p>
                                                <br>
                                                <div id="div_past_history_other" style="display: none;">
                                                    {{ form.past_history_other }}
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Symptoms <span class="asteriskField">*</span></b></label>
                                                {{ form.current_symptoms}}                                               
                                                <p class="muted"><span id="sel_current_symptoms"></span></p>
                                                <br>
                                                <div id="div_current_symptoms_other" style="display: none;">
                                                    {{ form.current_symptoms_other }}
                                                </div>
                                            </div>
                                        </div>                                                               
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Current Tobacco Use </b><i>(answer yes if tobacco use during the last 12 months) </i><span class="asteriskField"><b>*</b></span></label>
                                                <br>
                                                {{ form.tobacco_use }}  
                                                <span id="tobacco_use_error"></span>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Engaged in more than 30 minutes of physical activity at least 5 days a week <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.physical_activity }} 
                                                <span id="physical_activity_error"></span>                                                
                                            </div>
                                        </div>
                                        <div id="div_familyhistory" class="col-md-4">
                                            <div>
                                                <label><b>Family history of premature heart disease or stroke in first degree relatives <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.family_history }} 
                                                <span id="family_history_error"></span>                                                
                                            </div>                                      
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Occupation <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.activity_status }} 
                                                <span id="activity_status_error"></span>                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Describe Occupation </b></label>
                                                {{ form.occupation }}                                                
                                            </div>
                                        </div>
                                        <div id="div_currentmedication" class="col-md-4">
                                            <div>
                                                <label><b>Current Medication  <span class="asteriskField">*</span></b></label>
                                                {{ form.current_medication }}                                            
                                            </div>
                                        </div>                                        
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Alcohal Consumption <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_consumption }} 
                                                <span id="alcohal_consumption_error"></span>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: none;" id="div_frequency">
                                            <div>
                                                <label><b>How many days do you take alcohol in a week? <span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_frequency }}                                                
                                            </div>
                                        </div> 
                                        <div class="col-md-4" style="display: none;" id="div_amount">
                                            <div>
                                                <label><b>How many drinks per day on average?<span class="asteriskField">*</span></b></label>
                                                <br>
                                                {{ form.alcohal_amount }}                                            
                                            </div>
                                        </div>                                       
                                    </div> 




                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full"> Assessment </legend>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Waist Circumference </b></label>
                                                {{ form.waist_circumference }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Systolic Blood Pressure <span class="asteriskField">*</span></b></label>
                                                {{ form.sbp }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Diastollic Blood Pressure <span class="asteriskField">*</span></b></label>
                                                {{ form.dbp }}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Pitting Oedema </b></label>
                                                <br>
                                                {{ form.oedema }}
                                                <span id="oedema_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Palpate Apex Beat</b> <i>(Heaving)</i> </span></label>
                                                <br>
                                                {{ form.heaving }}
                                                <span id="heaving_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Palpate Apex Beat</b> <i>(Displacement)</i> </label>
                                                <br>
                                                {{ form.displacement }}
                                                <span id="displacement_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Ausculate heart </b> <i>(rhythm and murmurs)</i> </label>
                                                <br>
                                                {{ form.ausculate_heart }}
                                                <span id="ausculate_heart_error"></span>
                                                <div id="div_ausculate_heart_describe" style="display: none;">
                                                    <br>
                                                    {{ form.ausculate_heart_describe }}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Ausculate lungs </b> <i>(bilateral basal crepitations)</i> </label>
                                                <br>
                                                {{ form.ausculate_lungs }}
                                                <span id="ausculate_lungs_error"></span>
                                                <div id="div_ausculate_lungs_describe" style="display: none;">
                                                    <br>
                                                    {{ form.ausculate_lungs_describe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Abdomen Exam </b> <i>(tender liver) </i></label>
                                                <br>
                                                {{ form.abdomen_exam }}
                                                <span id="abdomen_exam_error"></span>
                                                <div id="div_abdomen_exam_describe" style="display: none;">
                                                    <br>
                                                    {{ form.abdomen_exam_describe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>DM Exam </b><i>(examine feet; sensations, pulses, and ulcers) </i></label>
                                                    <br>
                                                    {{ form.dm_exam }}
                                                    <span id="dm_exam_error"></span>
                                                    <div id="div_dm_exam_describe" style="display: none;">
                                                        <br>
                                                        {{ form.dm_exam_describe }}
                                                    </div>
                                                </div>
                                            </div>                                            

                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>Blood Sugar Type <span class="asteriskField">*</span></b></label>
                                                    <br>
                                                    {{ form.blood_sugar_type }}
                                                    <span id="blood_sugar_type_error"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div>
                                                    <label><b>Blood Sugar Level <span class="asteriskField">*</span></b></label>
                                                    <br>
                                                    <!-- {{ form.blood_sugar }} -->
                                                    {{ form.bloodsugar }}
                                                </div>
                                            </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Urine Ketones</b></label>
                                                <br>
                                                {{ form.urine_ketones }}
                                            </div>
                                            
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Urine Proteins</b></label>
                                                <br>
                                                {{ form.urine_protein }}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label><b>Cholesterol</b></label>
                                                <br>
                                                {{ form.cholesterol }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row col-md-12">
                                        <label><b>Comments/Notes</b></label>
                                        <br>
                                        {{ form.assessment_comments }}
                                    </div>
                                </div>                                                        
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full"> Medication </legend>
                                <div class="panel-body"> 
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group block1">                                            
                                                {{ form.chk_prescription }} <label for="chk_medication">&nbsp; <h6>Precribe drugs for this patient</h6></label>
                                            </div>
                                            <br>                                                                 
                                        </div>
                                    </div> 

                                    <div class="row" id="div_prescription" style="display: none;">                                        
                                        <br>
                                        <div>
                                            <button type="button" class="btn btn-sm btn-white m-r-5" onClick=" getTips()">
                                            <!-- <button type="button" class="btn btn-sm btn-white m-r-5" onClick=" showHistory()"> -->
                                                 <i class="fa fa-book"></i>&nbsp;&nbsp;Help Me To Prescribe Drugs
                                            </button> 
                                        </div>
                                        <div class="col-md-6">
                                            <!--
                                            <label><b>Prescription </b></label>
                                            {{ form.prescription }}
                                            <br>
                                            -->
                                            <div class="panel-body">
                                                <table id="medications_table" class="table">                            
                                                    <thead>                                        
                                                        <tr>
                                                            <td>#</td>
                                                            <th>TYPE</th>
                                                            <th>NAME</th>
                                                            <th>DOSAGE</th>
                                                            <th>DURATION (WEEKS)</th>
                                                            <th>ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>                                                   
                                                                <button type="button" class="btn btn-sm btn-danger m-r-5" onClick="deleteRow()">
                                                                    Clear <i class="fa fa-remove"></i>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                {{ form.medication_type }}
                                                                <div id="medication_type_errormsg" style="display:none;">
                                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{ form.medication_name }}
                                                                <div id="medication_name_errormsg" style="display:none;">
                                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{ form.medication_dosage }}
                                                                <div id="div_medication_dosage_other" style="display:none;">
                                                                    <br>
                                                                    {{ form.medication_dosage_other }}
                                                                    <div id="medication_dosage_other_errormsg" style="display:none;">
                                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                                    </div>
                                                                </div>
                                                                <div id="medication_dosage_errormsg" style="display:none;">
                                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{ form.medication_duration }}                                                            
                                                                <div id="medication_duration_errormsg" style="display:none;">
                                                                    <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="addRow()">
                                                                    Add New <i class="fa fa-plus"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                {{ form.medications_list }}
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                                                                                             
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->

                        <!-- begin wizard step-4 -->
                        <div class="wizard-step-4">
                            <fieldset>
                                <legend class="pull-left width-full"> Referrals </legend>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group block1">                                            
                                                {{ form.chk_referral }} <label for="chk_medication">&nbsp; <h6>Refer this patient</h6></label>
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="row" id="div_referral" style="display: none;">
                                        <br>
                                        <div class="col-md-6">
                                            <label><b>Referral Reason</b></label>
                                            {{ form.referral_reason }}
                                            <br>
                                            <p class="muted"><span id="sel_referral_reason"></p>
                                                <br>
                                                {{form.referral_reason_other}}
                                        </div>
                                    </div>                                                    
                                </div>                                                                           
                            </fieldset>
                        </div>
                        <!-- end wizard step-4 -->
                    </div>
                </div>
                <!-- end col-12 -->

               

            </div>
            <!-- end row -->

            <!-- begin row -->
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" value="submit" id="submit_followup"><b>Submit</b></button>
                    <button type="button" class="btn btn-default"><b>Quit</b></button>
                </div> 
            </div>
            <!-- end row -->
        </form>
    </div>        
</div>
<!-- end panel -->



{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
<script type="text/javascript"> 
   var pTips = "{{pHistory}}";
</script>
<script src="{% static 'js/ui-modal-notification.demo.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script>
jQuery(document).ready(function() {
    loadDashboards();

    // validate Questions vs VisitNum
    visit_num = $('#visit_num').val();
    console.log('visit_num: ' + visit_num);
    if(visit_num > 1){
        $('#div_pasthistory').hide();
        $('#past_history').attr('data-parsley-required', 'false');

        $('#div_familyhistory').hide();
        $('#family_history_0').attr('data-parsley-required', 'false');
        $('#family_history_1').attr('data-parsley-required', 'false');

        $('#div_currentmedication').hide();
        $('#current_medication').attr('data-parsley-required', 'false');
    }else{
        $('#div_pasthistory').show();
        $('#past_history').attr('data-parsley-required', 'true');

        $('#div_familyhistory').show();
        $('#family_history_0').attr('data-parsley-required', 'true');
        $('#family_history_1').attr('data-parsley-required', 'true');

        $('#div_currentmedication').show();
        $('#current_medication').attr('data-parsley-required', 'true');   
    }


    //multi selects
    $('#past_history, #current_symptoms, #referral_reason, #medication_type, #medication_name, #medication_dosage').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white',
        nonSelectedText: 'Please Select'
    });
    $('html,body').scrollTop(0); 

    // Make Referrals Not Mandatory
    // $('#referral_reason').attr('data-parsley-required', 'false');
 

    FormWizardValidation.init();
    Notification.init();
});
</script>


<script type="text/javascript">
function loadDashboards()
{
    var visit_num = $('#visit_num').val();
    if(visit_num > 1){
        $('#divVisits').show();
        $('#divScreening').hide();
    }else{
        $('#divScreening').show();
        $('#divVisits').hide();
    }

}

function showHistory(){
    // Show Dialog
    $('#history-dialog').modal('show');
}

function getTips()
{
    
    var patient_id  = $('#patient_id').val();
    var age = $('#person_age').val();
    var sex = $('#person_sex').val();
    var sbp  = $('#sbp').val();
    var dbp  = $('#dbp').val();
    var color  = $('#color').val();
    var bloodsugar = $('#bloodsugar').val();
    var bloodsugartype =  $('input[name=blood_sugar_type]:checked').val();
    var past_history = $('#past_history').val();
    var current_symptoms = $('#current_symptoms').val();
    var visit_num = $('#visit_num').val();

    var values = {
        'patient_id': patient_id,
        'age': age,
        'sex': sex,
        'sbp': sbp,
        'dbp': dbp,
        'bloodsugar': bloodsugar,
        'bloodsugartype': bloodsugartype,
        'past_history': past_history,
        'current_symptoms': current_symptoms,
        'color': color,
        'visit_num': visit_num,
        'csrfmiddlewaretoken':  $.cookie('csrftoken')
    };

    $.ajax({
        url: "{% url 'dss' %}",
        dataType: 'json',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,

        success: function(result){ 
            $('#tips-dialog').modal('show');
            $("#meds_history_table").find("tr:gt(0)").remove();
            $("#meds_tips_table").find("tr:gt(0)").remove();

            var jsonTips, jsonData
            var msg_tip = '';
            $.each(result, function(i, val) 
            {
                jsonTips = val.jsonTips;
                $.each(jsonTips, function(i, val) 
                {
                    if(val==null)
                    {
                        msg_tip += 'The Prescription Support System could not provide tips at the moment.<br>Please Consult Internal Medicine Specialist.';
                    }else{
                        msg_tip += val + '<br>';
                    }
                });
                var ttable_row = '<tr>' +
                '<td><i class="fa fa-book"></i><pre>' + msg_tip + '</pre></td>' +
                '</tr>';
                $('#meds_tips_table > tbody:last-child').append(ttable_row);


                jsonData = val.jsonData;
                if (jsonData){
                    $.each(jsonData, function(i, val) 
                    {
                        var htable_row = '<tr>' +
                        '<td><i class="fa fa-calendar"></i></td><td><pre>' + val.visit_date + '</pre></td>' + 
                        '<td><pre>' + val.medication_type + '</pre>' + 
                        '<pre>' + val.medication_dosage + '</pre></td>' + 
                        '</tr>';
                        $('#meds_history_table > tbody:last-child').append(htable_row);
                    });                     
                }else{
                    var htable_row = '<tr>' +
                    '<td><pre>No Medical History To Display. This could be a New Patient.</pre></td>' + 
                    '</tr>';
                    $('#meds_history_table > tbody:last-child').append(htable_row);
                }                
             });
        },
        error: function(xhr, status, error)
        {
            console.log('An error occured: - ' + error);
        }
    });
}

function displayVals(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length>0)
       {            
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    // $( "#sel_"+value ).html(selections.join( ", <br>" ) );
    $( "#sel_"+value ).html(selections.join( ", " ) );
}

function displayVals2(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length)
       {
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    
    return selections.join( ", <br>" );
}

function getDrugNames(value)
{
    var multiselect_data = [];
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var values = { 
                    'csrfmiddlewaretoken': csrftoken,
                    'field_name': value
                 };
    

    $.ajax({
        url: '{% url 'fetch_drug' %}',
        dataType: 'json',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,
        success: function(result)
        {
            var status;
            var item_sub_category_id;
            var item_sub_category;
            var multiselect_dict = {};
            $.each(result, function(i, val) 
            {
                item_sub_category_id = val.item_sub_category_id;
                item_sub_category = val.item_sub_category;
                status = val.status;

                var multiselect_dict = { label: item_sub_category, value: item_sub_category_id };
                multiselect_data.push(multiselect_dict);
            });

            multiselect_data.push({label: 'Please Select', value: ''});

            //multi selects
            $('#medication_name').multiselect('destroy');
            $('#medication_name').multiselect({
                    selectAllValue: 'multiselect-all',
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white',
                    nonSelectedText: 'Please Select'
                });
            $("#medication_name").empty();
            $("#medication_name").multiselect('dataprovider', multiselect_data);
            if(status == 0)
            {
                $("#medication_name option[value='" + item_sub_category_id + "']").prop("selected", true);
            }
            $("#medication_name").val('');
            $("#medication_name").multiselect("refresh");

        },
        error: function(xhr, status, error)
        {
            console.log(error);
        }
    });
}

function getDrugDosages(value)
{
    var multiselect_data = [];
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var values = { 
                    'csrfmiddlewaretoken': csrftoken,
                    'field_name': value
                 };
    

    $.ajax({
        url: '{% url 'fetch_dose' %}',
        dataType: 'json',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,
        success: function(result)
        {
            var status;
            var item_sub_category_id;
            var item_sub_category;
            var multiselect_dict = {};
            $.each(result, function(i, val) 
            {
                item_sub_category_id = val.item_sub_category_id;
                item_sub_category = val.item_sub_category;
                status = val.status;

                var multiselect_dict = { label: item_sub_category, value: item_sub_category_id };
                multiselect_data.push(multiselect_dict);
            });

            multiselect_data.push({label: 'Please Select', value: ''});

            //multi selects
            $('#medication_dosage').multiselect('destroy');
            $('#medication_dosage').multiselect({
                    selectAllValue: 'multiselect-all',
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white',
                    nonSelectedText: 'Please Select'
                });
            $("#medication_dosage").empty();
            $("#medication_dosage").multiselect('dataprovider', multiselect_data);
            if(status == 0)
            {
                $("#medication_dosage option[value='" + item_sub_category_id + "']").prop("selected", true);
            }
            $("#medication_dosage").val('');
            $("#medication_dosage").multiselect("refresh");

        },
        error: function(xhr, status, error)
        {
            console.log(error);
        }
    });
}

function addRow()
{
    var MedicationsData = new Array();
    var medication_type = $('#medication_type').val();
    var medication_name = $('#medication_name').val();
    var medication_dosage = $('#medication_dosage').val();
    var medication_dosage_other = $('#medication_dosage_other').val();
    var medication_duration = $('#medication_duration').val();

    if(medication_type == null || medication_type == '') {   
        $('#medication_type_errormsg').css({'display': 'block'});
        return
    } 

    if(medication_name == null || medication_name == '') {   
        $('#medication_name_errormsg').css({'display': 'block'});
        return
    } 

    if(medication_dosage == null || medication_dosage == '') {   
        $('#medication_dosage_errormsg').css({'display': 'block'});
        return
    } 

    if(medication_dosage.substring(2)=='DO' && (medication_dosage_other == null || medication_dosage_other == '')){
        $('#medication_dosage_other_errormsg').css({'display': 'block'});
        return
    }

    if(medication_duration == null || medication_duration == '' || medication_duration ==0) {   
        $('#medication_duration_errormsg').css({'display': 'block'});
        return
    }

    var table = $('#medications_table')[0];
    var rows_length = table.rows.length;
    var row = table.insertRow(rows_length);
    var row_id = rows_length-2;
    row.id = row_id;
    var cell0 = row.insertCell(0);
    var cell1 = row.insertCell(1);
    var cell2 = row.insertCell(2);
    var cell3 = row.insertCell(3);
    var cell4 = row.insertCell(4);
    cell0.className = 'td_style'
    cell1.className = 'td_style'
    cell2.className = 'td_style'
    cell3.className = 'td_style'
    cell4.className = 'td_style'
    var hmedication_type = "<input id='hmedication_type' type='hidden' value='"+medication_type+"'>"
    var hmedication_name = "<input id='hmedication_name' type='hidden' value='"+medication_name+"'>"
    var hmedication_dosage = "<input id='hmedication_dosage' type='hidden' value='"+medication_dosage+"'>"
    var hmedication_dosage_other = "<input id='hmedication_dosage_other' type='hidden' value='"+medication_dosage_other+"'>"
    var hmedication_duration = "<input id='hmedication_duration' type='hidden' value='"+medication_duration+"'>"

    cell0.innerHTML = '';
    cell1.innerHTML = displayVals2("medication_type") + hmedication_type;
    cell2.innerHTML = displayVals2("medication_name") + hmedication_name;
    cell3.innerHTML = displayVals2("medication_dosage") + hmedication_dosage;
    if(medication_dosage.substring(2)=='DO'){
         cell3.innerHTML = medication_dosage_other;
    }
    cell4.innerHTML  = medication_duration + " Week(s)" + hmedication_duration;

    $('#medications_table tr').each(
        function(row, tr)
        {    
            var medication_type = $(tr).find('input[id="hmedication_type"]').val();
            var medication_name = $(tr).find('input[id="hmedication_name"]').val();
            var medication_dosage = $(tr).find('input[id="hmedication_dosage"]').val();
            var medication_dosage_other = $(tr).find('input[id="hmedication_dosage_other"]').val();
            if(medication_dosage_other == null || medication_dosage_other == ''){ medication_dosage_other = null; }
            var medication_duration = $(tr).find('input[id="hmedication_duration"]').val();
            MedicationsData[row] = {
                "medication_type" : medication_type,
                "medication_name" : medication_name,
                "medication_dosage" : medication_dosage,
                "medication_dosage_other" : medication_dosage_other,
                "medication_duration" : medication_duration
            }
        });
    MedicationsData.shift();
    MedicationsData.shift();
    MedicationsData = JSON.stringify(MedicationsData); 

    $('#medications_list').val(MedicationsData);

    $('#medication_type').multiselect("clearSelection");
    $('#medication_name').val('');
    $('#medication_dosage').val('');
    $('#medication_type').multiselect("refresh");
    $('#medication_name').multiselect("refresh");
    $('#medication_dosage').multiselect("refresh");
    $('#medication_dosage_other').val('');
    $('#medication_duration').val('');
    $('#div_medication_dosage_other').css({'display': 'none'});
}

function deleteRow()
{ 
    var MedicationsData = new Array();   
    $('#medications_table tr').each(
        function(row, tr)
        {   
           row_id = parseInt(tr.id)
           $("#" + row_id).remove();
           if(row_id > 1)
           {

           }           
 
            // var medication_type = $(tr).find('input[id="hmedication_type"]').val();
            $(tr).find('input[id="hmedication_type"]').val('');
            $(tr).find('input[id="hmedication_name"]').val('');
            $(tr).find('input[id="hmedication_dosage"]').val('');
            $(tr).find('input[id="hmedication_dosage_other"]').val('');
            $(tr).find('input[id="hmedication_duration"]').val('');
            MedicationsData[row] = {
                "medication_type" : '',
                "medication_name" : '',
                "medication_dosage" : '',
                "medication_dosage_other" : '',
                "medication_duration" : ''
            }
        });
        MedicationsData.shift();
        MedicationsData.shift();
        MedicationsData = JSON.stringify(MedicationsData); 

        $('#medications_list').val(MedicationsData);
}

$('#occupation').tagit(
{
    placeholderText:'Type Ocuupation + ENTER',
    availableTags: ["Farmer", "Teacher", "Business", "Police/Askari", "Unemployed", "No Job"],
    showAutocompleteOnFocus: true
});

$('#current_medication').tagit(
{
    placeholderText:'Type Medicine + ENTER',
    availableTags: ["Nifedipine Retard", "Enalapril", "Hydrochlorothiazide", "Metformin", "SIMVASTATIN", "Atorvastatin"],
    showAutocompleteOnFocus: true
});

$('#prescription').tagit(
{
    placeholderText:'Type Medicine + ENTER',
    availableTags: ["Nifedipine Retard", "Enalapril", "Hydrochlorothiazide", "Metformin", "SIMVASTATIN", "Atorvastatin"],
    showAutocompleteOnFocus: true
});
//$("#current_medication").data("ui-tagit").tagInput.addClass("fancy");

$("#medication_type").change(function(event) 
{ 
    var value = $('#medication_type').val();
    if(value){
        getDrugNames(value); 
        $('#medication_type_errormsg').css({'display': 'none'});
    }
});

$("#medication_name").change(function(event) 
{ 
    var value = $('#medication_name').val();
    if(value){
        getDrugDosages(value); 
        $('#medication_name_errormsg').css({'display': 'none'});
    }
});

$("#medication_dosage").change(function(event) 
{
    var medication_dosage = $('#medication_dosage').val();
    $('#medication_dosage_errormsg').css({'display': 'none'});

    if(medication_dosage.substring(2)=='DO'){
        $('#div_medication_dosage_other').css({'display': 'block'});
    }else{
        $('#div_medication_dosage_other').css({'display': 'none'});       
    }
});

$("#medication_dosage_other").keyup(function(event) 
{ 
    $('#medication_dosage_other_errormsg').css({'display': 'none'});
});

$("#medication_duration").bind('keyup change click', function (e) {
    $('#medication_duration_errormsg').css({'display': 'none'});
});

$("#past_history").change(function(event) 
{ 
    displayVals('past_history'); 
    var past_history = $('#past_history').val();
    if(past_history.includes("PHOT")){
        $('#div_past_history_other').show();
        $('#past_history_other').attr('data-parsley-required', 'true');

    }else{
        $('#div_past_history_other').hide();
        $('#past_history_other').attr('data-parsley-required', 'false');
        $('#past_history_other').val('');
    }
   
});

$("#current_symptoms").change(function(event) 
{ 
    displayVals('current_symptoms');
    var current_symptoms = $('#current_symptoms').val();
    if(current_symptoms.includes("CSOT")){
        $('#div_current_symptoms_other').show();
        $('#current_symptoms_other').attr('data-parsley-required', 'true');
    }else{
        $('#div_current_symptoms_other').hide();
        $('#current_symptoms_other').attr('data-parsley-required', 'false');
        $('#current_symptoms_other').val('');
    }
});

$("#referral_reason").change(function(event) 
{ 
    displayVals('referral_reason');
    var referral_reason = $('#referral_reason').val();

});

$("input[name='alcohal_consumption']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_amount').show();
        $('#div_frequency').show(); 
        $('#alcohal_amount').attr('data-parsley-required', 'true');
        $('#alcohal_frequency').attr('data-parsley-required', 'true');
    }else{
        $('#div_amount').hide();
        $('#div_frequency').hide(); 
        $('#alcohal_amount').attr('data-parsley-required', 'false');
        $('#alcohal_amount').val('');
        $('#alcohal_frequency').attr('data-parsley-required', 'false');
        $('#alcohal_frequency').val('');
    }
});

$("input[name='ausculate_heart']").change(function(){
    if ($(this).val() == "CSAB") {
        $('#div_ausculate_heart_describe').show();
        $('#ausculate_heart_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_ausculate_heart_describe').hide();
        $('#ausculate_heart_describe').attr('data-parsley-required', 'false');
        $('#ausculate_heart_describe').val('');
    }
});

$("input[name='dm_exam']").change(function(){
    if ($(this).val() == "CSAB") {
        console.log($(this).val());
        $('#div_dm_exam_describe').show();
        $('#dm_exam_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_dm_exam_describe').hide();
        $('#dm_exam_describe').attr('data-parsley-required', 'false');
        $('#dm_exam_describe').val('');
    }
});

$("input[name='ausculate_lungs']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_ausculate_lungs_describe').show();
        $('#ausculate_lungs_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_ausculate_lungs_describe').hide();
        $('#ausculate_lungs_describe').attr('data-parsley-required', 'false');
        $('#ausculate_lungs_describe').val('');
    }
});

$("input[name='abdomen_exam']").change(function(){
    if ($(this).val() == "AYES") {
        $('#div_abdomen_exam_describe').show();
        $('#abdomen_exam_describe').attr('data-parsley-required', 'true');
    }else{
        $('#div_abdomen_exam_describe').hide();
        $('#abdomen_exam_describe').attr('data-parsley-required', 'false');
        $('#abdomen_exam_describe').val('');
    }
});

$("input[name='chk_prescription']").change(function(){
    if($(this).is(":checked")) {
        $('#div_prescription').show();
        $('#prescription').attr('data-parsley-required', 'true');
    }  
    else{
        $('#div_prescription').hide();
        $('#prescription').attr('data-parsley-required', 'false');
        $('#prescription').val('');
    } 
});

$("input[name='chk_referral']").change(function(){
    if($(this).is(":checked")) {
        $('#div_referral').show();
        $('#referral_reason').attr('data-parsley-required', 'true');
    }  
    else{
        $('#div_referral').hide();
        $('#referral_reason').attr('data-parsley-required', 'false');
        $("#referral_reason").multiselect("clearSelection");
        $("#referral_reason").multiselect("refresh");
        $("#sel_referral_reason").html('');
    } 
});
</script>
{% endblock lazy_javascript_code %}