{% extends 'base.html' %}

{% block page_title %} {{block.super}} New Form {% endblock page_title%}

{% load app_filters %}

{% load staticfiles %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
.td_style {
  color: #0057e7;
}
.drugs{
    width: 400;
    height:400px;
    position: { my: 'top', at: 'top+150' };
    /*-webkit-overflow-scrolling: touch;*/    
}
</style>
{% endblock style_code%}

    
{% block primary %} 

<!-- #modal-dialog -->
<div class="modal fade" id="tips-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <blockquote>
                <p class="td_style">PATIENT MANAGEMENT TIPS &nbsp;&nbsp; <i class="fa fa-key"></i></p>
            </blockquote>

            <div class="modal-body" class="table-responsive" style="overflow-y: scroll; height:350px;">
                
                 <table id="actions_manager_table" class="table table-striped table-bordered">
                    <thead>
                        <tr id="id_inputHeaders">
                            
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
               
                <!--<span id="actions"></span> -->
            </div>

            <div class="modal-footer">
                <div align="right">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" >Close</a>                 
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<!-- #modal-without-animation -->


<div class="modal fade" id="drugs-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <blockquote>
                <p class="td_style">MEDICATION TIPS &nbsp;&nbsp; <i class="fa fa-adjust"></i></p>
            </blockquote>

            <div class="modal-body" class="table-responsive" style="overflow-y: scroll; height:350px;">
                
                 <table id="drugs_manager_table" class="table table-striped table-bordered">
                    <thead>
                        <tr id="id_inputHeaders">
                            
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                <div align="right">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" >Close</a>                 
                </div>
                
                
            </div>
        </div>
    </div>
</div>


<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<br>

<h1 class="page-header">Forms <small>New Clinic Form <b>{{ init_data.first_name }} {{ init_data.surname }} | {{ init_data.sex_id|gen_value:vals }} | {{ init_data.age }} YRS </b></small></h1>

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <!--
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            -->
        </div>                      
        <h4 class="panel-title"> <b>CAPTURE DATA </b>&nbsp;<i class="fa fa-keyboard-o"></i></h4>
    </div>

    <!-- begin panel-body -->
    <div class="panel-body">
        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="new_clinic_form">
            {% csrf_token %}

            {{form.person_age}}

            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_new_clinic_form">
                        <ol>
                            <li>
                                Diagnoses
                                <small>Diagnoses Details</small>
                            </li>
                            <li>
                                Investigations
                                <small>Investigations Details</small>
                            </li>
                            <li>
                                Medications
                                <small>Medications Details</small>
                            </li>
                            <li>
                                Referrals
                                <small>Referrals Details</small>
                            </li>
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full"> Diagnoses Details </legend>
                                <div class="panel-body">
                                    <table id="diagnosis_manager_table" class="table">
                                        <thead>
                                            <tr id="id_inputHeaders1">
                                                <td width="2%"></td>
                                                <th width="15%"><h6><b>Diagnosis Type</b></h6></th>
                                                <th width="20%"><h6><b>Diagnosis Result</b></h6></th>
                                                <th width="5%"><h6><b>Actions</b></h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="id_inputElements1">
                                                <td width="2%"></td>
                                                <td width="15%">
                                                    {{ form.diagnosis_type }}
                                                    <div id="diagnosis_type_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="20%">
                                                    <div id="div_diagnosis_result">
                                                        {{ form.diagnosis_result }} 
                                                        <div id="diagnosis_result_errormsg" style="display:none;">
                                                            <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                        </div>                                                        
                                                    </div>

                                                    <div id="div_diagnosis_result_other" style="display:none;">
                                                        {{ form.diagnosis_result_other }}
                                                        <div id="diagnosis_result_other_errormsg" style="display:none;">
                                                            <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                        </div>                                                        
                                                    </div>                                                    
                                                </td>
                                                <td width="5%">
                                                <h6><b>
                                                    <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="addRow(1)">
                                                        <i class="fa fa-plus"></i>  Add
                                                    </button>
                                                    </b></h6>
                                                </td
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ form.diagnosis_list }}
                                </div>                                                                   
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Investigations Details</legend>
                                <div class="panel-body">
                                    <table id="investigations_manager_table" class="table">
                                        <thead>
                                            <tr id="id_inputHeaders2">
                                                <td width="2%"></td>
                                                <th width="15%"><h6><b>Investigation Type</b></h6></th>
                                                <th width="20%"><h6><b>Investigation Result</b></h6></th>
                                                <th width="5%"><h6><b>Actions</b></h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="id_inputElements2">
                                                <td width="2%"></td>
                                                <td width="15%">
                                                    {{ form.investigation_type }}
                                                    <div id="investigation_type_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="20%">

                                                    <div id="div_investigation_result">                                                            
                                                        {{ form.investigation_result }}
                                                        <div id="investigation_result_errormsg" style="display:none;">
                                                            <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                        </div>
                                                    </div>

                                                    <div id="div_investigation_value" style="display:none;">
                                                        {{ form.investigation_value }}
                                                        <div id="investigation_value_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                            </div>                                                        
                                                    </div>

                                                    
                                                </td>
                                                <td width="5%">
                                                <h6><b>
                                                    <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="addRow(2)">
                                                        <i class="fa fa-plus"></i>  Add
                                                    </button>
                                                    </b></h6>
                                                </td
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ form.investigations_list }}
                                </div>  
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Medications Details</legend>

                                <button type="button" class="btn btn-sm btn-success m-r-5" onClick="getActions()">
                                    <b>PATIENT MANGEMENT TIPS</b>&nbsp;&nbsp;<i class="fa fa-key"></i> 
                                </button>

                                <button type="button" class="btn btn-sm btn-success m-r-5" onClick="getDrugs()">
                                    <b>MEDICATION TIPS</b>&nbsp;&nbsp;<i class="fa fa-adjust"></i> 
                                </button>

                                <div class="divider pull-left width-full"></div>
                                <div class="divider pull-left width-full"></div>

                                <div class="panel-body">
                                    <table id="medications_manager_table" class="table">
                                        <thead>
                                            <tr id="id_inputHeaders3">
                                                <td width="2%"></td>
                                                <th width="15%"><h6><b>Medication Type</b></h6></th>
                                                <th width="20%"><h6><b>Medication Dosage</b></h6></th>
                                                <th width="5%"><h6><b>Actions</b></h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="id_inputElements3">
                                                <td width="2%"></td>
                                                <td width="15%">
                                                    {{ form.medication_type }}
                                                    <div id="medication_type_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="20%">
                                                    {{ form.medication_dosage }}
                                                    <div id="medication_dosage_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="5%">
                                                <h6><b>
                                                    <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="addRow(3)">
                                                        <i class="fa fa-plus"></i>  Add
                                                    </button>
                                                    </b></h6>
                                                </td
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ form.medications_list }}
                                </div>

                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->

                        <!-- begin wizard step-4 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Referrals Details</legend>
                                    <div>
                                        <label><h6>Do you have any referrals?</h6></label>
                                        <br>                                        
                                        {{ form.referral_present }} 
                                        <span id="referral_error"></span>                                       
                                    </div>

                                    <div class="divider pull-left width-full"></div>
                                    <div class="divider pull-left width-full"></div>

                                    <div id="div_referrals" class="panel-body" style="display: none;">
                                    <table id="referrals_manager_table" class="table">
                                        <thead>
                                            <tr id="id_inputHeaders4">
                                                <td width="2%"></td>
                                                <th width="15%"><h6><b>Referral Reason</b></h6></th>
                                                <th width="20%"><h6><b>Referral Destination</b></h6></th>
                                                <th width="5%"><h6><b>Actions</b></h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="id_inputElements4">
                                                <td width="2%"></td>
                                                <td width="15%">
                                                    {{ form.referral_reason }}
                                                    <div id="referral_reason_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="20%">
                                                    {{ form.referral_destination }}
                                                    <div id="referral_destination_errormsg" style="display:none;">
                                                        <small><p class="dialog_paragraph">This value is required</p></span></small><span>
                                                    </div>
                                                </td>
                                                <td width="5%">
                                                <h6><b>
                                                    <button type="button" class="btn btn-sm btn-inverse m-r-5" onClick="addRow(4)">
                                                        <i class="fa fa-plus"></i>  Add
                                                    </button>
                                                    </b></h6>
                                                </td
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ form.referrals_list }}
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-4 -->
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Date of Visit <span class="asteriskField">*</span> : </label>
                        <div class="col-md-4 col-sm-4">
                           {{ form.visit_date }}
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Comments :</label>
                        <div class="col-md-4 col-sm-4">
                           {{ form.visit_notes }}
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary" value="submit" id="mysubmit_i">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                </a>
                        </div>
                    </div> 

                </div>
            </div>
            <!-- end row -->
        </form>
    </div>
    <!-- end panel-body -->

</div>
<!-- end panel -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() { 

    //multi selects
    $('#diagnosis_type, #diagnosis_result, #investigation_type, #investigation_result, #medication_type, #medication_dosage, #referral_reason, #referral_destination').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });
    $('html,body').scrollTop(0);  

    FormWizardValidation.init();
});
</script>



<script type="text/javascript">
function getValues(x)
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');

    // load input types
    if(x==1)
    {
        var multiselect_data = [];
        var investigation_type = $('#investigation_type').val();
        var values = { 
                        'args': 1,
                        'investigation_type': investigation_type,
                        'csrfmiddlewaretoken': csrftoken
                     }; 
        $.ajax({
                url: '{% url 'controller' %}',
                dataType: 'json',
                method: 'POST',
                data: values,
                success: function(result)
                {
                    var item_id;
                    var item_description;
                    var multiselect_dict = {};                    
                    multiselect_data.push({label: 'Please Select', value: ''});
                    $.each(result, function(i, val) {
                        var q_value = val.q_value;
                        if(q_value=='q_value')
                        {
                            $('#div_investigation_result').css({'display': 'none'});
                            $('#div_investigation_value').css({'display': 'block'});
                            $('#investigation_result').val('');
                        }else{
                            $('#div_investigation_result').css({'display': 'block'});
                            $('#div_investigation_value').css({'display': 'none'});
                            $('#investigation_value').val('');

                            item_id = val.item_id;
                            item_description = val.item_description;
                            multiselect_dict = { label: item_description, value: item_id };
                            multiselect_data.push(multiselect_dict);

                            //multi selects
                            $('#investigation_result').multiselect('destroy');
                            $('#investigation_result').multiselect({
                                    selectAllValue: 'multiselect-all',
                                    enableCaseInsensitiveFiltering: true,
                                    numberDisplayed: 1,
                                    maxHeight: 300,
                                    buttonWidth: '100%',
                                    buttonClass: 'btn btn-white',
                                    nonSelectedText: 'Please Select'
                                });
                            $("#investigation_result").empty();
                            $("#investigation_result").multiselect('dataprovider', multiselect_data);
                            $("#investigation_result").multiselect("refresh");
                        }
                    });

                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }
            });         
    }

    // load risk_level_ids
    if(x==2)
    {
        var multiselect_data = [];
        var values = { 
            'args': 2,
            'csrfmiddlewaretoken': csrftoken
        }; 
        $.ajax({
            url: '{% url 'controller' %}',
            dataType: 'json',
            method: 'POST',
            data: values,
            success: function(result)
            {
                var item_id;
                var item_description;
                var multiselect_dict = {};
                multiselect_data.push({label: 'Please Select', value: ''});

                $.each(result, function(i, val) {
                    item_id = val.item_id;
                    item_description = val.item_description;
                    multiselect_dict = { label: item_description, value: item_id };
                    multiselect_data.push(multiselect_dict);
                });

                $('#div_investigation_result').css({'display': 'block'});
                $('#div_investigation_value').css({'display': 'none'});
                $('#investigation_value').val('');

                //multi selects
                $('#investigation_result').multiselect('destroy');
                $('#investigation_result').multiselect({
                        selectAllValue: 'multiselect-all',
                        enableCaseInsensitiveFiltering: true,
                        numberDisplayed: 1,
                        maxHeight: 300,
                        buttonWidth: '100%',
                        buttonClass: 'btn btn-white',
                        nonSelectedText: 'Please Select'
                    });
                $("#investigation_result").empty();
                $("#investigation_result").multiselect('dataprovider', multiselect_data);
                $("#investigation_result").multiselect("refresh");
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        }); 
    }

    // load risk_level_ids
    if(x==3)
    {

    }
}

function addRow(x)
{
    /** Diagnosis **/
    if(x==1)
    {
        var DiagnosisData = new Array();
        var diagnosis_type = $('#diagnosis_type').val();
        var diagnosis_result = $('#diagnosis_result').val();
        var diagnosis_result_other = $('#diagnosis_result_other').val();

        if(diagnosis_type)
        {
            if(diagnosis_type=='DOTH' && diagnosis_result_other=="")
            {
                 $("#diagnosis_result_other_errormsg").css({ 'display': "block" });
                 return;
            }

            if(diagnosis_type!='DOTH' && !diagnosis_result)
            {
                $("#diagnosis_result_errormsg").css({ 'display': "block" });
                return;
            }

            // Find a <table> element with id="diagnosis_manager_table":
            var table = $('#diagnosis_manager_table')[0];

            // Create an empty <tr> element with id and add it to the 1st position of the table: 
            var rows_length = diagnosis_manager_table.rows.length;
            var row = table.insertRow(rows_length);
            var row_id = "rowid_" + (rows_length-2);
            row.id = row_id;

            //Insert new cells (<td> elements) of the "new" <tr> element:
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            cell0.className = 'td_style'
            cell1.className = 'td_style'
            cell2.className = 'td_style'
            cell3.className = 'td_style'

            var hdiagnosis_type = "<input id='hdiagnosis_type' type='hidden' value='"+diagnosis_type+"'>"
            var hdiagnosis_result = "<input id='hdiagnosis_result' type='hidden' value='"+diagnosis_result+"'>"
            var hdiagnosis_result_other = "<input id='hdiagnosis_result_other' type='hidden' value='"+diagnosis_result_other+"'>"

            // Add some text to the new cells:
            var index = rows_length - 2;
            var btnDeleteItemId = 'btnDeleteItem' + index;
            cell0.innerHTML = '';
            cell1.innerHTML = displayVals2("diagnosis_type") + hdiagnosis_type;
            if(diagnosis_result){
                cell2.innerHTML = displayVals2("diagnosis_result") + hdiagnosis_result;
            }else{
                cell2.innerHTML = diagnosis_result_other + hdiagnosis_result_other;
            }
            cell3.innerHTML  = "<a id='" + btnDeleteItemId + "' class='btn btn-sm btn-link m-r-5 href='#'></i>&nbsp;  Remove </a>"

            // AddClick Event To Remove Button
            $("#" + btnDeleteItemId + "").click(function(e)
            {
                RemoveRow(1, row_id);
            });


            // Reset Input Elements/Error Divs              
            $(".alert").hide();        
            $("#diagnosis_type").multiselect("clearSelection");
            $("#diagnosis_type").multiselect("refresh");
            $('#diagnosis_result').multiselect("clearSelection");
            $('#diagnosis_result').multiselect("refresh");
            $('#diagnosis_result_other').val('');

            $('#diagnosis_manager_table tr').each(function(row, tr)
            {
                var diagnosis_type = $(tr).find('input[id="hdiagnosis_type"]').val();
                var diagnosis_result = $(tr).find('input[id="hdiagnosis_result"]').val();
                var diagnosis_result_other = $(tr).find('input[id="hdiagnosis_result_other"]').val();

                if(!diagnosis_result) { diagnosis_result=''; }
                if(!diagnosis_result_other) { diagnosis_result_other=''; }
                DiagnosisData[row] = {
                    "diagnosis_type" : diagnosis_type,
                    "diagnosis_result" : diagnosis_result,
                    "diagnosis_result_other": diagnosis_result_other
                }
            });
            DiagnosisData.shift(); //remove first row(headers stuff)
            DiagnosisData.shift(); //remove second row(controls stuff)
            DiagnosisData = JSON.stringify(DiagnosisData); 

            // Set diagnosis_list
            $('#diagnosis_list').val(DiagnosisData);
        }
        else
        {
            $("#diagnosis_type_errormsg").css({ 'display': "block" });            
        }
    }

    /** Investigations **/
    if(x==2)
    {
        var InvestigationsData = new Array();
        var investigation_type = $('#investigation_type').val();
        var investigation_result = $('#investigation_result').val();
        var investigation_value = $('#investigation_value').val();

        // Find a <table> element with id="investigations_manager_table":
        var table = $('#investigations_manager_table')[0];

        // Create an empty <tr> element with id and add it to the 1st position of the table: 
        var rows_length = investigations_manager_table.rows.length;
        var row = table.insertRow(rows_length);
        var row_id = "rowid_" + (rows_length-2);
        row.id = row_id;

        //Insert new cells (<td> elements) of the "new" <tr> element:
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell0.className = 'td_style'
        cell1.className = 'td_style'
        cell2.className = 'td_style'
        cell3.className = 'td_style'

        var investigation_suffix;
        if(investigation_type=='IVDP'){ 
            investigation_suffix = ' mmHg(DBP)'; 
        }
        else if(investigation_type=='IVSP'){ 
            investigation_suffix = ' mmHg(SBP)'; 
        }
        else if (investigation_type=='IVWC') {
            investigation_suffix = ' cm';
        }
        else if (investigation_type=='IVFR') {
            investigation_suffix = ' L/min';
        }
        else if (investigation_type=='IVCH') {
            investigation_suffix = ' mmol/L';
        }
        else if (investigation_type=='IVUA') {
            investigation_suffix = ' mg/mmol';
        }
        else{
             investigation_suffix = '';
        }

        var hinvestigation_type = "<input id='hinvestigation_type' type='hidden' value='"+investigation_type+"'>"
        var hinvestigation_result = "<input id='hinvestigation_result' type='hidden' value='"+investigation_result+"'>"
        var hinvestigation_value = "<input id='hinvestigation_value' type='hidden' value='"+investigation_value+investigation_suffix+"'>"

        // Add some text to the new cells:
        var index = rows_length - 2;
        var btnDeleteItemId = 'btnDeleteItem' + index;
        cell0.innerHTML = '';
        cell1.innerHTML = displayVals2("investigation_type") + hinvestigation_type;
        // cell2.innerHTML = displayVals2("investigation_result") + hinvestigation_result + hinvestigation_value;
        
        if(investigation_result){
            
            cell2.innerHTML = displayVals2("investigation_result") + hinvestigation_result;
        }else{
            cell2.innerHTML = investigation_value + investigation_suffix + hinvestigation_value;
        }
        
        cell3.innerHTML  = "<a id='" + btnDeleteItemId + "' class='btn btn-sm btn-link m-r-5 href='#'></i>&nbsp;  Remove </a>"

        // Reset Input Elements/Error Divs  
        $(".alert").hide();           
        $("#investigation_type").multiselect("clearSelection");
        $("#investigation_type").multiselect("refresh");
        $('#investigation_result').multiselect("clearSelection");
        $('#investigation_result').multiselect("refresh");
        $('#investigation_value').val('');

        $('#investigations_manager_table tr').each(function(row, tr)
        {
            var investigation_type = $(tr).find('input[id="hinvestigation_type"]').val();
            var investigation_result = $(tr).find('input[id="hinvestigation_result"]').val();
            var investigation_value = $(tr).find('input[id="hinvestigation_value"]').val();

            if(!investigation_result) { investigation_result=''; }
            if(!investigation_value) { investigation_value=''; }
            InvestigationsData[row] = {
                "investigation_type" : investigation_type,
                "investigation_result" : investigation_result,
                "investigation_value": investigation_value
            }
        });
        InvestigationsData.shift(); //remove first row(headers stuff)
        InvestigationsData.shift(); //remove second row(controls stuff)
        InvestigationsData = JSON.stringify(InvestigationsData); 

        // Set investigations_list
        $('#investigations_list').val(InvestigationsData);
    }

    /** Medications **/
    if(x==3)
    {
        var MedicationsData = new Array();
        var medication_type = $('#medication_type').val();
        var medication_dosage = $('#medication_dosage').val();

        // Find a <table> element with id="investigations_manager_table":
        var table = $('#medications_manager_table')[0];

        // Create an empty <tr> element with id and add it to the 1st position of the table: 
        var rows_length = medications_manager_table.rows.length;
        var row = table.insertRow(rows_length);
        var row_id = "rowid_" + (rows_length-2);
        row.id = row_id;

        //Insert new cells (<td> elements) of the "new" <tr> element:
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell0.className = 'td_style'
        cell1.className = 'td_style'
        cell2.className = 'td_style'
        cell3.className = 'td_style'

        var hmedication_type = "<input id='hmedication_type' type='hidden' value='"+medication_type+"'>"
        var hmedication_dosage = "<input id='hmedication_dosage' type='hidden' value='"+medication_dosage+"'>"

        // Add some text to the new cells:
        var index = rows_length - 2;
        var btnDeleteItemId = 'btnDeleteItem' + index;
        cell0.innerHTML = '';
        cell1.innerHTML = displayVals2("medication_type") + hmedication_type;
        cell2.innerHTML = displayVals2("medication_dosage") + hmedication_dosage;
        cell3.innerHTML  = "<a id='" + btnDeleteItemId + "' class='btn btn-sm btn-link m-r-5 href='#'></i>&nbsp;  Remove </a>"

        // Reset Input Elements/Error Divs  
        $(".alert").hide();           
        $("#medication_type").multiselect("clearSelection");
        $("#medication_type").multiselect("refresh");
        $('#medication_dosage').multiselect("clearSelection");
        $('#medication_dosage').multiselect("refresh");

        $('#medications_manager_table tr').each(function(row, tr)
        {
            var medication_type = $(tr).find('input[id="hmedication_type"]').val();
            var medication_dosage = $(tr).find('input[id="hmedication_dosage"]').val();

            MedicationsData[row] = {
                "medication_type" : medication_type,
                "medication_dosage" : medication_dosage
            }
        });
        MedicationsData.shift(); //remove first row(headers stuff)
        MedicationsData.shift(); //remove second row(controls stuff)
        MedicationsData = JSON.stringify(MedicationsData); 

        // Set medicatons_list
        $('#medications_list').val(MedicationsData);
    }

    /** Referrals **/
    if(x==4)
    {
        var ReferralsData = new Array();
        var referral_reason = $('#referral_reason').val();
        var referral_destination = $('#referral_destination').val();

        // Find a <table> element with id="referrals_manager_table":
        var table = $('#referrals_manager_table')[0];

        // Create an empty <tr> element with id and add it to the 1st position of the table: 
        var rows_length = referrals_manager_table.rows.length;
        var row = table.insertRow(rows_length);
        var row_id = "rowid_" + (rows_length-2);
        row.id = row_id;

        //Insert new cells (<td> elements) of the "new" <tr> element:
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell0.className = 'td_style'
        cell1.className = 'td_style'
        cell2.className = 'td_style'
        cell3.className = 'td_style'

        var hreferral_reason = "<input id='hreferral_reason' type='hidden' value='"+referral_reason+"'>"
        var hreferral_destination = "<input id='hreferral_destination' type='hidden' value='"+referral_destination+"'>"

        // Add some text to the new cells:
        var index = rows_length - 2;
        var btnDeleteItemId = 'btnDeleteItem' + index;
        cell0.innerHTML = '';
        cell1.innerHTML = displayVals2("referral_reason") + hreferral_reason;
        cell2.innerHTML = displayVals2("referral_destination") + hreferral_destination;
        cell3.innerHTML  = "<a id='" + btnDeleteItemId + "' class='btn btn-sm btn-link m-r-5 href='#'></i>&nbsp;  Remove </a>"

        // Reset Input Elements/Error Divs  
        $(".alert").hide();           
        $("#referral_reason").multiselect("clearSelection");
        $("#referral_reason").multiselect("refresh");
        $('#referral_destination').multiselect("clearSelection");
        $('#referral_destination').multiselect("refresh");

        $('#referrals_manager_table tr').each(function(row, tr)
        {
            var referral_reason = $(tr).find('input[id="hreferral_reason"]').val();
            var referral_destination = $(tr).find('input[id="hreferral_destination"]').val();

            ReferralsData[row] = {
                "referral_reason" : referral_reason,
                "referral_destination" : referral_destination
            }
        });
        ReferralsData.shift(); //remove first row(headers stuff)
        ReferralsData.shift(); //remove second row(controls stuff)
        ReferralsData = JSON.stringify(ReferralsData); 

        // Set referrals_list
        $('#referrals_list').val(ReferralsData);
    }


}

function removeRow(x)
{
}

function resetRow(x)
{
}

function getDrugs()
{
    var conditions;
    var csrftoken = $.cookie('csrftoken');
    var person_age = $('#person_age').val();
    var investigations = $('#investigations_list').val();
    var diagnosis = $('#diagnosis_list').val();
    var values = { 
            'args': 4,
            'person_age': person_age,
            'investigations': investigations,
            'diagnosis': diagnosis,
            'csrfmiddlewaretoken': csrftoken
        }; 
    $.ajax({
        url: '{% url 'controller' %}',
        dataType: 'json',
        method: 'POST',
        data: values,
        success: function(result)
        {
            // parseJSON
            result = $.parseJSON(result);

            // Remove pre-exisiting rows
            $("#drugs_manager_table").find("tr:gt(0)").remove();

            // Populate Grid
            $.each(result, function(i, val) {
                var rowIndex = i;
                var action = val.action;
                var table_row = '<tr><td><h5>' + (i+1) + '. ' + action + '</h5></td></tr>'                           

                // Append each result to  row
                $('#drugs_manager_table > tbody:last-child').append(table_row);
            });

            $('#drugs-dialog').modal('show');
        },
        error: function(xhr, status, error)
        {
            alert(error);
        }
    }); 

}

function getActions()
{
    var conditions;
    var csrftoken = $.cookie('csrftoken');
    var person_age = $('#person_age').val();
    var investigations = $('#investigations_list').val();
    var diagnosis = $('#diagnosis_list').val();
    var values = { 
            'args': 3,
            'person_age': person_age,
            'investigations': investigations,
            'diagnosis': diagnosis,
            'csrfmiddlewaretoken': csrftoken
        }; 
    $.ajax({
        url: '{% url 'controller' %}',
        dataType: 'json',
        method: 'POST',
        data: values,
        success: function(result)
        {
            // parseJSON
            result = $.parseJSON(result);

            // Remove pre-exisiting rows
            $("#actions_manager_table").find("tr:gt(0)").remove();

            // Populate Grid
            $.each(result, function(i, val) {
                var rowIndex = i;
                var action = val.action;
                var table_row = '<tr><td><h5>' + (i+1) + '. ' + action + '</h5></td></tr>'                           

                // Append each result to  row
                $('#actions_manager_table > tbody:last-child').append(table_row);
            });

            $('#tips-dialog').modal('show');
        },
        error: function(xhr, status, error)
        {
            alert(error);
        }
    }); 

}

function getMedicationDosage(medication_type)
{
    var multiselect_data = [];
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var values = { 
                    'args': 5,
                    'csrfmiddlewaretoken': csrftoken,
                    'medication_type': medication_type
                 };

    $.ajax({
                url: '{% url 'controller' %}',
                dataType: 'json',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    var status;
                    var dosage;
                    var dosage_id;
                    var multiselect_dict = {};
                    var multiselect_dict_initial = { label:'Please Select', value:'' };  
                    multiselect_data.push(multiselect_dict_initial);  

                    $.each(result, function(i, val) 
                    {

                        console.log(val); 
                        dosage = val.dosage;
                        dosage_id = val.dosage_id;

                        var multiselect_dict = { label: dosage, value: dosage_id };
                        multiselect_data.push(multiselect_dict);
                    });

                    //multi selects
                    $('#medication_dosage').multiselect('destroy');
                    $('#medication_dosage').multiselect({
                            selectAllValue: 'multiselect-all',
                            enableCaseInsensitiveFiltering: true,
                            numberDisplayed: 1,
                            maxHeight: 300,
                            buttonWidth: '100%',
                            buttonClass: 'btn btn-white',
                            nonSelectedText: 'Please Select'
                        });
                    $("#medication_dosage").empty();
                    $("#medication_dosage").multiselect('dataprovider', multiselect_data);
                    $("#medication_dosage").multiselect("refresh");
                },
                error: function(xhr, status, error)
                {
                    console.log(error);
                }

            });    
}

function displayVals2(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length)
       {
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    
    return selections.join( ", <br>" );
}

$("#investigation_type").change(function(event) 
{  
    // call controller
    var investigation_type = $('#investigation_type').val();
    if(investigation_type=='IV10'){
        getValues(2);
    }else{
        getValues(1);
    }
});

$("#diagnosis_type").change(function(event) 
{ 
    $("#diagnosis_type_errormsg").css({ 'display': "none" });
    var diagnosis_type = $('#diagnosis_type').val();
    if(diagnosis_type=='DOTH')
    {
        $("#div_diagnosis_result_other").css({ 'display': "block" });
        $("#div_diagnosis_result").css({ 'display': "none" });
        $("#diagnosis_result").multiselect("clearSelection");
        $("#diagnosis_result").multiselect("refresh");

    }else{
        $("#div_diagnosis_result_other").css({ 'display': "none" });
        $("#div_diagnosis_result").css({ 'display': "block" });
        $("#diagnosis_result_other").val('');
    }
});

$("#diagnosis_result").change(function(event) 
{ 
    $("#diagnosis_result_errormsg").css({ 'display': "none" });
});

$('#diagnosis_result_other').keyup(function() {
    if($(this).val())
    {
        $("#diagnosis_result_other_errormsg").css({ 'display': "none" }); 
    }
});

$("#medication_type").change(function(event) 
{ 
    var medication_type = $("#medication_type").val();

    // handle_dosage
    getMedicationDosage(medication_type);

    $("#medication_type_errormsg").css({ 'display': "none" });
});

$("form input:radio").change(function () {   
    if ($(this).val() == "AYES") {
        $('#div_referrals').css({'display': 'block'});
    } 
    if ($(this).val() == "ANNO") {
        $('#div_referrals').css({'display': 'none'});
        $("#referrals_manager_table").find("tr:gt(1)").remove();
        $(".alert").hide();           
        $("#referral_reason").multiselect("clearSelection");
        $("#referral_reason").multiselect("refresh");
        $('#referral_destination').multiselect("clearSelection");
        $('#referral_destination').multiselect("refresh");
    } 
});
</script>
{% endblock lazy_javascript_code %}