{% extends 'base.html' %}
{% block page_title %} {{block.super}} New Clinic {% endblock page_title%}

{% load staticfiles %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Persons</li>
</ol>
<h1 class="page-header">Clinics Register <small>New Clinic</small></h1>
<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>

<!-- begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>                      
        <h4 class="panel-title">Create Clinic &nbsp;<i class="fa fa-male"></i> <span id="person_name"></span></h4>
    </div>

    <!-- begin panel-body -->
    <div class="panel-body">
        <form class="form-horizontal form-bordered" action="{% url 'new_clinic' %}" method="POST" data-parsley-validate="true" name="form-wizard" id="new_clinic">
            {% csrf_token %}
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_clinics">
                        <ol>
                            <li>
                                Clinic Details 
                                <small>Clinics's details</small>
                            </li>
                            <li>
                                Contact Details
                                <small>Person's contact information.</small>
                            </li>
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full"> Clinic Details </legend>
                                <div class="form-group"> 
                                    <label class="control-label col-md-4 col-sm-4" for="clinic_name">Clinic Name <span class="asteriskField">*</span> :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.clinic_name }}
                                    </div>

                                    <label class="control-label col-md-4 col-sm-4" for="area_id">County :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.area_id }}
                                    </div>
                                </div>
                                                                             
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Contact Details</legend>
                                <div class="form-group"> 
                                    <label class="control-label col-md-4 col-sm-4" for="postal_address">Postal Address <span class="asteriskField">*</span> :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.postal_address }}
                                    </div>

                                    <label class="control-label col-md-4 col-sm-4" for="contacts">Contacts :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.contacts }}
                                    </div>
                                </div>                                

                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary" value="submit" id="mysubmit2">Submit</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                            </a>
                        </div>
                    </div>
                                    
                </div>
            </div>
            <!-- end row -->
        </form>
    </div>
    <!-- end panel-body -->

</div>
<!-- end panel -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() { 

    //multi selects
    $('#area_id').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });
    $('html,body').scrollTop(0);    

    FormWizardValidation.init();
});
</script>
{% endblock lazy_javascript_code %}