{% extends 'base.html' %}
{% block page_title %} {{block.super}} Clinics {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block extra_styling%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock extra_styling%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<h1 class="page-header">Clinics Register</h1>

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Clinic</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="." method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </button>
                        <a href="{% url 'new_clinic' %}" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Register New Clinic</b>
                        </a>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}             
    <div class="panel-body">
        <table id="data-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Clinic Name</th>
                    <th>Postal Address</th>
                    <th>Contacts</th>
                    <th>County</th>              
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for result in resultsets %}
                <tr>
                    <td>{{ result.org_unit_name }}</td>
                    <td>{{ result.org_unit_postal_address }}</td>
                    <td>{{ result.org_unit_contacts }}</td>
                    <td>{{ result.area }}</td>
                    <td>
                        <button id="btn-view-details-{{ result.id }}" onClick="#" class="btn  btn-sm btn-primary m-r-5">
                        View &nbsp;&nbsp;<i class="fa fa-binoculars"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="norecords" align="center">No records found.</div>
    {% endif %}
</div>
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
<script>
    $(document).ready(function() 
    {
        $('#data-table').bootstrapTable(
        { 
            toggle: 'table', 
            search: 'true',
            locale: 'en-US',
            pagination: 'true',
            pageNumber: 1,
            pageSize: 10,
            //showRefresh: true,
            showToggle: true,
            //showColumns: true,
            singleSelect: true,
            clickToSelect:true,
            maintainSelected: true
        });
    });
</script>
<script src="{% static 'js/apps.js' %}"></script>
{% endblock lazy_javascript_code%}