{% extends 'base.html' %}
{% block page_title %} {{block.super}} Patient Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>Exit Patient</b></li>
</ol>

<h4><i class="icon-user"></i> PATIENT EXIT</h4>
<p>Use this module to remove a patient from the program</p>
<br>

<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin form -->
<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" id="exit_form">
        {% csrf_token %}
    <div class="row">
        <div class="row col-md-6">
            <label><b>Reason For Exit <span class="asteriskField">*</span></b></label>
            {{ form.exit_reason }}
            <br>
            <div id="div_exit_reason_other" style="display: none;">
                {{ form.exit_reason_other }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" value="submit" id="submit_exit"><b>Submit</b></button>
            <button type="button" class="btn btn-white"><b>Quit</b></button>
        </div> 
    </div>
</form>
<!-- end form -->
{% endblock %}


{% block lazy_javascript_code %}
<script>
$("#exit_reason").change(function(event) 
{
    var exit_reason = $('#exit_reason').val();

    if(exit_reason=='PXOT'){
        $('#div_exit_reason_other').show();
        $('#exit_reason_other').attr('data-parsley-required', 'true');
    }else{
        $('#div_exit_reason_other').hide(); 
        $('#exit_reason_other').attr('data-parsley-required', 'false');
        $('#exit_reason_other').val('');      
    }
});  
</script>
{% endblock lazy_javascript_code %}