{% extends 'base.html' %}
{% block page_title %} {{block.super}} Patient Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>View Patient</b></li>
</ol>

<h4><i class="icon-user"></i> PATIENT VIEW</h4>
<p>Use this module to view an existing person</p>
<br>

<!-- end breadcrumb -->

{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin profile-left -->
                    <div class="profile-left">
                        <!-- begin profile-image -->
                        <div class="profile-image">
                            <img src="/static/img/user-2.jpg" />
                            <i class="fa fa-user hide"></i>
                        </div>
                        <!-- end profile-image --> 
                        <center>
                            
                        </center>
                    </div>
                    <!-- end profile-left -->

                    <!-- begin profile-right -->
                    <div class="profile-right">
                        <!-- begin profile-info -->
                        <div class="profile-info">
                            <!-- begin table -->
                            <div class="table-responsive">
                                <table class="table table-profile">
                                    <thead>
                                        <tr>
                                            <th width="25%"></th>
                                            <th>
                                            <h4>{{ person.fname }} {{ person.lname }}</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="field">Person Type(s) : </td>
                                            <td>Patient</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Person First Name : </td>
                                            <td>{{ person.fname }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Person Last Name : </td>
                                            <td>{{ person.lname }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Sex: </td>
                                            {%if person.sex == "F"%}
                                                <td>Female</td>
                                            {% else %}
                                                <td>Male</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td class="field">Date Of Birth : </td>
                                            <td>{{ person.date_of_birth }} (
                                            {% if person.age == '116 years' or person_details.date_of_birth == None %}
                                            Not Provided
                                            {% else %}
                                            {{ person.age }}
                                            {% endif %}
                                            )</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Age : </td>
                                            <td>
                                            {{ person.age }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="field">ID Number : </td>
                                            <td>
                                            {% if person.pinfo %}
                                                {% for pinfo in person.pinfo %}
                                                    {{ pinfo.id_number }}
                                                {% endfor %}
                                            {% else %}
                                                None (Not Provided)
                                            {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="field">Income(per month) : </td>
                                            <td>
                                            {% if person.pinfo %}
                                                {% for pinfo in person.pinfo %}
                                                    Kshs. {{ pinfo.income }}
                                                {% endfor %}
                                            {% else %}
                                                None (Not Provided)
                                            {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                        <td class="field"></td>
                                        <td>
                                            <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back To Search</b>&nbsp; </button>

                                            <button id="btn_edit_details" onClick="window.location.href='{% url 'new_followup'     id=person.id %}'" class="btn  btn-sm btn-inverse m-r-5">
                                            <b> Follow-Up Patient </b>&nbsp; <i class="fa fa-paw"></i>
                                            </button>

                                            <button id="btn_exit_patient" onClick="window.location.href='{% url 'exit_patient' id=person.id %}'" class="btn  btn-sm btn-danger m-r-5">
                                            <b> Exit Patient </b>&nbsp; <i class="fa fa-sign-out"></i>
                                            </button>
                                        </td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table -->
                        </div>
                        <!-- end profile-info -->
                    </div>
                    <!-- end profile-right -->


                </div>
                <!-- end profile-section -->
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-4">
                            <h4 class="title">Account <small>
                            Details</small></h4>
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="280px" class="bg-silver">
                                <!-- begin chats -->
                                {% if appuser %}
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Username :</td>
                                            <td>{{ appuser.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Last login :</td>
                                            <td>{{ appuser.last_login }}</td>
                                        </tr>
                                        <tr>
                                            <td>Active :</td>
                                            <td>{{ appuser.is_active }}</td>
                                        </tr>
                                        <tr>
                                            <td>Date created :</td>
                                            <td>{{ appuser.timestamp_created }}</td>
                                        </tr>
                                        <tr>
                                            <td>Date modified :</td>
                                            <td>{{ appuser.timestamp_updated }}</td>
                                        </tr>
                                        <tr>
                                            <td>Last password change :</td>
                                            <td>{{ appuser.password_changed_timestamp }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% else %}
                                    <br>
                                    <p>&nbsp; Person does not have a log in account</p>
                                {% endif %}
                                <!-- end chats -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                        <!-- begin col-4 -->
                        <div class="col-md-4">
                            <h4 class="title">Afyachat <small>Details</small></h4>
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="280px" class="bg-silver">
                                <!-- begin table -->
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Items</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="field">Glucose : </td>
                                            <td>{{ person.glucose }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Smoker : </td>
                                            <td>{{ person.smoker }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Diabetes : </td>
                                            <td>{{ person.diabetes }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Systollic Blood Pressure : </td>
                                            <td>{{ person.sbp }}</td>
                                        </tr>
                                        <tr>
                                            <td class="field">Color : </td>
                                            {% if person.color == "GREEN" %}
                                            <td bgcolor="#008744"><font color="white"><b>GREEN</b></font></td>
                                            {% endif %}

                                            {% if person.color == "RED" %}
                                            <td bgcolor="#d62d20"><font color="white"><b>RED</b></font></td>
                                            {% endif %}

                                            {% if person.color == "CRIMSON" %}
                                            <td bgcolor="#dc143c"><font color="white"><b>CRIMSON</b></font></td>
                                            {% endif %}

                                            {% if person.color == "ORANGE" %}
                                            <td bgcolor="#ffa500"><font color="white"><b>ORANGE</b></font></td>
                                            {% endif %}

                                            {% if person.color == "YELLOW" %}
                                            <td bgcolor="#ffff00"><font color="white"><b>YELLOW</b></font></td>
                                            {% endif %}
                                        </tr>
                                    </tbody> 
                                </table>                                                           
                                <!-- end table -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                        <!-- begin col-4 -->
                        <div class="col-md-4">
                            <h4 class="title">Contact <small>Details</small></h4>
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="280px" class="bg-silver">
                                <!-- begin todolist -->
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Items</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="field">Phone Number : </td>
                                            {% if person.phone_no %}
                                                <td>{{ person.phone_no }}</td>
                                            {% else %}
                                                <td>None (Not Provided)</td>
                                            {% endif %}
                                        </tr>

                                        <tr>
                                            <td class="field">Email Address : </td>
                                            {% if person.email %}
                                                <td>{{ person.email }}</td>
                                            {% else %}
                                                <td>None (Not Provided)</td>
                                            {% endif %}
                                        </tr>

                                        <tr>
                                            <td class="field">Postal Address : </td>
                                            {% if person.postal_address %}
                                                <td>{{ person.postal_address }}</td>
                                            {% else %}
                                                <td>None (Not Provided)</td>
                                            {% endif %}
                                        </tr>

                                    </tbody>
                                </table>
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end profile-section -->
            </div>
            <!-- end profile-container -->
            
    <!-- End content area -->
</div>
<!-- end row -->
{% endblock %}


{% block lazy_javascript_code %}
<script>
   
</script>
{% endblock lazy_javascript_code %}