{% extends 'base.html' %}
{% block page_title %} {{block.super}} New Person {% endblock page_title%}

{% load staticfiles %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>New Person</b></li>
</ol>

<h4><i class="icon-user"></i> PERSONS REGISTER</h4>
<p>Use this module to create a new person</p>
<br>

<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>

<!-- begin panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>                      
        <h4 class="panel-title">&nbsp;<i class="fa fa-male"></i></span></h4>
    </div>
    <!-- begin panel-body -->
    <div class="panel-body">
        <form class="form-horizontal form-bordered" action="{% url 'new_person' %}" method="POST" data-parsley-validate="true" name="form-wizard" id="new_person">
            {% csrf_token %}
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div id="wizard_persons">
                        <ol>
                            <li>
                                Demographics 
                                <small>Person's demographic details</small>
                            </li>
                            <li>
                                Indicators
                                <small>Indicator details.</small>
                            </li>
                            <li>
                                Contact Details
                                <small>Person's contact information.</small>
                            </li>
                            
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Demographics</legend>

                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>First Name</b></label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                   
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Last Name</b></label>
                                            {{ form.other_names }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Surname</b></label>
                                            {{ form.surname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->

                                <br>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Sex</b></label>
                                            {{ form.sex_id }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                   
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Date of Birth</b></label>
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>ID Number</b></label>
                                            {{ form.id_number }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->                                
                            </fieldset>
                            <br>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2" style="display: none;">
                            <fieldset>
                                <legend class="pull-left width-full">Indicators</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Income</b></label>
                                            {{ form.income }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Systollic Blood Pressure</b></label>
                                            {{ form.sbp }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Glucose Level</b></label>
                                            {{ form.glucose }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    
                                </div>
                                <br>
                                <!-- end row -->
                                <br>

                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Smoker</b></label>
                                            {{ form.smoker }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Diabetes</b></label>
                                            {{ form.diabetes }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->
                                    
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">

                            <fieldset>
                                <legend class="pull-left width-full">Contact Details</legend>

                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Phone Number</b></label>
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Email</b></label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->

                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label><b>Postal Address</b></label>
                                            {{ form.postal_address }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->

                                <br>
                                                               

                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->

                        
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary" value="submit" id="mysubmit">Submit</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                            </a>
                        </div>
                    </div>
                                    
                </div>
            </div>
            <!-- end row -->
        </form>
    </div>
    <!-- end panel-body -->

</div>
<!-- end panel -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() { 
    //multi selects
    $('#clinic, #living_in').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });
    $('html,body').scrollTop(0);   

    FormWizardValidation.init();
});
</script>
<script type="text/javascript">

$("#person_type").change(function(event) 
{
    var person_type = $('#person_type').val();
    console.log(person_type);
    if(person_type == 'PTPT'){
        $('#sbp').attr('data-parsley-required', 'true');
        $('#sbp').val('');
        $('#glucose').attr('data-parsley-required', 'true');
        $('#glucose').val('');
        $('#smoker').attr('data-parsley-required', 'true');
        $('#smoker').val('');
        $('#diabetes').attr('data-parsley-required', 'true');
        $('#diabetes').val('');
        $('#living_in').attr('data-parsley-required', 'false');
        $('#living_in').val('');
        $('#clinic').attr('data-parsley-required', 'false');
        $('#clinic').val('');

    }
    if(person_type == 'PTUS'){        
        $('#sbp').attr('data-parsley-required', 'false');
        $('#sbp').val('');
        $('#glucose').attr('data-parsley-required', 'false');
        $('#glucose').val('');
        $('#smoker').attr('data-parsley-required', 'false');
        $('#smoker').val('');
        $('#diabetes').attr('data-parsley-required', 'false');
        $('#diabetes').val('');
        $('#living_in').attr('data-parsley-required', 'true');
        $('#living_in').val('');
        $('#clinic').attr('data-parsley-required', 'true');
        $('#clinic').val('');
    }
});
</script>
{% endblock lazy_javascript_code %}