{% extends 'base.html' %}
{% block page_title %} {{block.super}} Persons {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block extra_styling%}
<!--
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
-->
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock extra_styling%}

{% block javascript_code%}
{% endblock javascript_code%}


{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#"><b>Home</b></a></li>
    <li class="active"><b>Search Person</b></li>
</ol>

<h4><i class="icon-user"></i> PERSONS SEARCH</h4>
<p>Use this module to search for an existing person</p>
<br>

<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger m-b-0">
                    <h4><i class="fa fa-info-circle"></i> Message </h4>
                    <span id="dialog_text"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal"" class="btn btn-sm btn-white">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end modal-dialog -->

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Person</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'person_search' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <div class="form-group">
                            {{ form.search_criteria }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </button>
                        <!--
                        <a href="{% url 'new_person' %}" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Register New Person</b>
                        </a>
                    -->
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}
    <div class="panel-body">
        <div class="table-responsive">
            <!--<table id="data-table" class="table table-striped table-bordered">-->
            <table id="data-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th width="2%"></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th> 
                            <th>Age</th>                      
                            <th width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in resultsets %}
                        <tr>
                            <td width="2%">
                               <b> {{ forloop.counter }} </b>
                            </td>
                            <td><p class="text-info">
                                {% if result.first_name %}
                                    {{ result.first_name }}
                                {% else %}
                                    {{ result.fname }}
                                {% endif %}
                            </p></td>

                            <td><p class="text-info">
                                {% if result.surname %}
                                    {{ result.surname }}
                                {% else %}
                                    {{ result.lname }}
                                {% endif %}
                            </p></td>

                            <td><p class="text-info">
                                {% if result.sex_id|gen_value:vals %}
                                    {{ result.sex_id|gen_value:vals }}
                                {% else %} 
                                    {% if result.sex == "F" %}
                                        Female
                                    {% else %}
                                        Male
                                    {% endif %}
                                {% endif %}
                            </p></td>

                            <td><p class="text-info">
                                {% if result.age %}
                                    {{ result.age }}
                                {% else %}
                                    None
                                {% endif %}
                            </p></td>

                            <td>
                                {% if result.search_criteria = 'PTUS' %}  
                                    {% if result.userid != 1 %}
                                        {% if result.appuser %}
                                            <button id="btn-deactivate-{{ result.person }}" class="btn  btn-sm btn-danger m-r-5" onClick="activateUser('{{ result.person }}', 2)" >
                                                Deactivate &nbsp;<i class="fa fa-gear"></i>                       
                                            </button>
                                        {% else %}
                                            <button  id="btn-activate-{{ result.person }}" class="btn  btn-sm btn-warning m-r-5" onClick="activateUser('{{ result.person }}', 1)" >
                                                Acivate &nbsp;<i class="fa fa-gear"></i>                      
                                            </button>
                                        {% endif %}
                                    {% endif %} 

                                        <button id="btn-view-details-{{ result.person }}" onClick="window.location.href='{% url 'view_person' uuid=result.person %}'" class="btn  btn-sm btn-primary m-r-5">
                                             View &nbsp;&nbsp;<i class="fa fa-binoculars"></i>
                                        </button>             
                                
                                {% else %}
                                    <button id="btn-view-details-{{ result.id }}" onClick="window.location.href='{% url 'view_patient' id=result.id %}'" class="btn  btn-sm btn-primary m-r-5">
                                         View &nbsp;&nbsp;<i class="fa fa-binoculars"></i>
                                    </button>
                                    <button id="btn-view-details-{{ result.id }}" onClick="window.location.href='{% url 'new_followup' id=result.id %}'" class="btn  btn-sm btn-inverse m-r-5">
                                         Follow-Up &nbsp;&nbsp;<i class="fa fa-paw"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>                              
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% else %}
        <div class="norecords" align="center">No records found.</div>
    {% endif %}
</div>

{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>    
<script>
    $(document).ready(function() 
    {
        $('#data-table').bootstrapTable(
        { 
            toggle: 'table', 
            search: 'true',
            locale: 'en-US',
            pagination: 'true',
            pageNumber: 1,
            pageSize: 10,
            // showRefresh: true,
            showToggle: true,
            //showColumns: true,
            singleSelect: true,
            clickToSelect:true,
            maintainSelected: true
        });
    });
</script>
<script src="{% static 'js/apps.js' %}"></script>
<script type="text/javascript">
function activateUser(person, op)
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var values = { 
                    'person': person,
                    'op': op,
                    'csrfmiddlewaretoken': csrftoken
                 }; 
    $.ajax({
            url: '{% url 'activate_user' %}',
            dataType: 'json',
            method: 'POST',
            data: values,
            success: function(result)
            {
                var msg_type;
                var msg_text;
                $.each(result, function(i, val) {
                    msg_type = val.msg_type;
                    msg_text = val.msg_text;
                });
                $('#modal-dialog').modal('show');
                $('#dialog_text').text(msg_text);

            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        }); 
}
</script>
{% endblock lazy_javascript_code%}