{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Reset Password {% endblock page_title%}    

{% block primary %}
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="navbar-logo"></span> NAWEZA EMR
                    <small>Please provide required details to continue</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->
            <div class="login-content">

                <form action="." method="POST" class="margin-bottom-0" data-parsley-validate="true">
                    {% csrf_token %}
                    <label class="control-label">Username</label>
                    <div class="form-group m-b-15">
                        {{ form.username }}
                    </div>

                    <label class="control-label">New Password</label>
                    <div class="form-group m-b-15">
                        {{ form.password1 }}
                    </div>

                    <label class="control-label">Re-type New Password</label>
                    <div class="form-group m-b-15">
                        {{ form.password2 }}
                    </div>

                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Reset Password</button>
                    </div>
                        
                    <p class="text-center text-inverse">
                        &copy; {% now "Y" %} NAWEZA EMR. All Rights Reserved.
                    </p>
                </form>
            </div>
        </div>
        <!-- end login -->       
    </div>
    <!-- end page container -->
</body>
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
