{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Page not Found {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <div class="register-header">
        <h4 class="brand shome">Naweza Clinic EMR (Medcan)</h4>
    </div>
    <h1 class="register-header">
        <small>Page not Found - Error 404</small>
    </h1>
    <!-- end register-header -->  
    <!-- begin register-content -->
    <div class="register-content"> 

        <div class="m-t-40 m-b-40">
            <p><strong>You may not be able to find the page you were after because of:</strong></p>
			<ol type="a">
			<li>An <strong>out-of-date bookmark/favorite</strong></li>
			<li>A search engine that has an <strong>out-of-date listing for us</strong></li>
			<li>A <strong>mis-typed address or page</strong></li>
			</ol>
		</div>
		<div class="m-t-40 m-b-40">
	        Please visit our <a href="{% url 'home' %}" class="text-success">home page</a> or 
	        <a href="{% url 'login' %}" class="text-success">login page</a>.
	    </div>
	        <span class="promo m-t-40">
	            <p>
	                <img src="{% static 'img/logo.png' %}" height="40"> &nbsp;&nbsp; | &nbsp;&nbsp;
	                <img src="{% static 'img/pima.jpg' %}" height="40">
	            </p>
	            </span>
	            <hr />
	            <p class="text-center text-inverse">
	                &copy; {% now "Y" %} Naweza. All Rights Reserved.
	            </p>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
{% endblock primary %}
