{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Sign Up {% endblock page_title%}


{% block primary %}
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="navbar-logo"></span> NAWEZA EMR
                    <small>Provide all the details to signup</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->            

            <div class="login-content">

                {% if messages %}
                    {% for message in messages %}
                    {% if 'error' in message.tags %}
                        <div id="messages" class="alert alert-danger fade in m-b-15">
                        <span class="close" data-dismiss="alert">×</span>
                        <i class="fa fa-info fa-2x pull-left"></i>
                    {% else %}
                        <div id="messages" class="alert alert-success fade in">
                        <span class="close" data-dismiss="alert">×</span>
                        <i class="fa fa-check fa-2x pull-left"></i>
                    {% endif %}    
                        <p>{{ message }}</p>
                    </div>
                   {% endfor %}
                {% endif %} 

                <form action="." method="POST" class="margin-bottom-0" data-parsley-validate="true">
                    {% csrf_token %}
                    <label class="control-label">Name</label>
                    <div class="row row-space-10">
                        <div class="col-md-6 m-b-15">
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6 m-b-15">
                            {{ form.surname }}                            
                        </div>
                    </div>

                    <label class="control-label">Sex</label>
                    <div class="form-group m-b-15">
                        {{ form.sex_id }}
                    </div>

                    <label class="control-label">Email</label>
                    <div class="form-group m-b-15">
                        {{ form.email }}
                    </div>

                    <label class="control-label">Clinic</label>
                    <div class="form-group m-b-15">
                        {{ form.clinic }}
                    </div>

                    <label class="control-label">Username</label>
                    <div class="form-group m-b-15">
                        {{ form.username }}
                    </div>

                    <label class="control-label">Password</label>
                    <div class="form-group m-b-15">
                        {{ form.password1 }}
                    </div>

                    <label class="control-label">Re-type Password</label>
                    <div class="form-group m-b-15">
                        {{ form.password2 }}
                    </div>

                    <div class="checkbox m-b-30">
                        <label>
                            <input type="checkbox" name="tnc" data-parsley-required="true" data-parsley-error-message="Please agree to our terms and conditions." /> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                        </label>
                    </div>

                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign Up</button>
                    </div>
                    <div class="m-t-20 m-b-20 p-b-20">
                        Already a registered user? Click <a href="{% url 'login' %}">here</a> to login.
                    </div>
                       
                    <!-- 
                    <p class="text-center text-inverse">
                        &copy; {% now "Y" %} NAWEZA EMR. All Rights Reserved.
                    </p>
                -->
                </form>
            </div>
        </div>
        <!-- end login -->       
    </div>
    <!-- end page container -->
</body>
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
