{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Login {% endblock page_title%}    

{% block primary %}
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="navbar-logo"></span> NAWEZA EMR
                    <small>Please login to continue</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->
            <div class="login-content">

                {% if messages %}
                    {% for message in messages %}
                        {% if 'error' in message.tags %}
                            <div id="messages" class="alert alert-danger fade in m-b-15">
                            <span class="close" data-dismiss="alert">×</span>
                            <i class="fa fa-info fa-2x pull-left"></i>
                        {% else %}
                            <div id="messages" class="alert alert-success fade in">
                            <span class="close" data-dismiss="alert">×</span>
                            <i class="fa fa-check fa-2x pull-left"></i>
                        {% endif %}    
                        <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                <form action="." method="POST" class="margin-bottom-0" data-parsley-validate="true">
                    {% csrf_token %}
                    <label class="control-label">Username</label>
                    <div class="form-group m-b-15">
                        {{ form.username }}
                    </div>
                    <label class="control-label">Password</label>
                    <div class="form-group m-b-15">
                        {{ form.password }}
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
                    </div>
                    <div class="m-t-20 m-b-20 p-b-20">
                        Not registered yet? Click <a href="{% url 'access' %}" class="text-success">here</a> to request for access<br><br>
                        Forgot password? Click <a href="{% url 'password_reset' %}" class="text-success">here</a> to change password
                    </div>
                        
                    <p class="text-center text-inverse">
                        &copy; {% now "Y" %} NAWEZA EMR. All Rights Reserved.
                    </p>
                </form>
            </div>
        </div>
        <!-- end login -->       
    </div>
    <!-- end page container -->
</body>
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
