{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub {{ request.path|get_class:'/' }}">
		<a href="{% url 'home' %}">
		    <i class="fa fa-laptop"></i>
		    <span>Home</span>
	    </a>
	</li>
	
	<li class="has-sub {{ request.path|get_class:'registry' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-suitcase"></i>
		    <span>Registry</span> 
		</a>
		<ul class="sub-menu">
			<li><a href="{% url 'person_search' %}">Person Register</a></li>
			<li><a href="{% url 'clinic_search' %}">Clinic Register</a></li>
		</ul>
	</li>
	
	<li class="has-sub {{ request.path|get_class:'forms' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Forms</span>
		</a>
	    <ul class="sub-menu">
			<li><a href="{% url 'archives' %}">Archives</a></li>
		</ul>
		
	</li>
	
	<!--
	<li class="has-sub {{ request.path|get_class:'reports' }}">
	    <a href="#">
		    <b class="caret pull-right"></b>
	        <i class="fa fa-area-chart"></i>
		    <span>Reports</span>
		</a>
		<ul class="sub-menu">
		    <li><a href="{% url 'report_error' %}">Visits Report</a></li>
			<li><a href="{% url 'report_error' %}">Ad Hoc Report</a></li>
		</ul>
	</li>
	-->

	<li class="has-sub {{ request.path|get_class:'data' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
	        <i class="fa fa-database"></i>
		    <span>Data Management</span>
		</a>
	    <ul class="sub-menu">
			<!-- <li><a href="{% url 'upload' %}">Upload Data</a></li> -->
			<li><a href="{% url 'download' %}">Download Data</a></li>
		</ul>
		
	</li>
	
	<!--
	<li class="has-sub {{ request.path|get_class:'gis' }}">
	    <a href="#">
	        <b class="caret pull-right"></b>
	        <i class="fa fa-map-marker"></i>
	        <span>GIS Module</span>
	    </a>
		<ul class="sub-menu">
			<li><a >Vector Map</a></li>
			<li><a >Google Map</a></li>
		</ul>
	</li>
	<li class="has-sub">
	    <a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-camera"></i>
		    <span>Gallery</span>
		</a>
	    <ul class="sub-menu">
	        <li><a href="#">Gallery One</a></li>
	        <li><a href="#">Gallery Two</a></li>
	    </ul>
	</li>			
	
	<li class="has-sub">
	    <a href="#">
	        <i class="fa fa-medkit"></i>
	        <span>Help and Documentation</span>
	    </a>
	</li>
	-->
	
    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
